@inherits InputComponent<bool>

<div @ref="@input" class="checkbox @(Input ? "checked" : "unchecked")" @onclick="@(e => { HandleClick(e); Input = !Input; UpdateInput(); HandleOnChange(); })">
	<MaterialIcon Icon="@(Input ? "check_box" : "check_box_outline_blank")" IconStyle="@($"color: {(Input ? "#0080ff" : "white")}")"/>
	@if (!String.IsNullOrWhiteSpace(Label))
	{
		<span style="font-size: @(FontSize)px">@Label</span>
	}
</div>

@code {
	[Parameter] public string? Label { get; set; }
}