@* Button with an icon and text. *@
@inherits IconTextButton

<button id="@ID" class="dropdownBtn @Class" @onclick="@HandleClick" title="@Title">
	<MaterialIcon Icon="@Icon" IconStyle="@IconStyle"/>
	<span style="color: @TextColor; @TextStyle">@Text</span>
</button>