@* Button with just an icon and no text. *@
@inherits ActionButton

<link href="css/Components/Buttons/IconButton.css" rel="stylesheet"/>

<button id="@ID" class="iconBtn @Class" @onclick="@HandleClick" title="@Title">
	<MaterialIcon Icon="@Icon" IconStyle="@IconStyle"/>
</button>