@* Button with just an icon and no text. *@
@inherits Button

<button id="@ID" class="iconBtn @Class" style="@Style" @onclick="@HandleClick" title="@Title">
	<MaterialIcon Icon="@Icon" IconStyle="@IconStyle"/>
</button>