@inherits Button

<link href="css/components/buttons/IconTextButton.css" rel="stylesheet"/>

<a id="@ID" class="iconTextBtn @Class" href="@Href" title="@Title">
	<MaterialIcon Icon="@Icon" IconStyle="@IconStyle"/>
	<span style="@TextStyle">@Text</span>
</a>

@code {
	[Parameter, EditorRequired] public string Text { get; set; } = null!;

	[Parameter, EditorRequired] public string Href { get; set; } = null!;

	[Parameter] public string? TextStyle { get; set; }
}