@* Show all albums and allow user to sort them and make new ones *@
@page "/albums"

<title>Albums - PSS</title>
<link href="css/AlbumsMain.css" rel="stylesheet">

<header>
    <span id="albumsText">Albums</span>
    <CollectionCreator Collections="@albums"/>
    
    <div id="checkboxes">
        <div>
            <input type="checkbox" @bind="@showAlbums">
            <span @onclick="@(() => { showAlbums = !showAlbums; GetAlbumsTable(); })">Show Albums</span>
        </div>
        <div>
            <input type="checkbox" @bind="@showFolders">
            <span @onclick="@(() => { showFolders = !showFolders; GetAlbumsTable(); })">Show Folders</span>
        </div>
    </div>

    <button class="textBtn" @onclick="@(() => F.VisToggle(ref sortDivVis))" id="sortBtn"><span class="material-icons-outlined">sort</span><span class="btnText">@sortBtnText</span></button>
    <div id="sortDiv" style="visibility: @sortDivVis"> @* This is ugly but I think it works well *@
        <button class="textBtn" @onclick="@(() => ChangeOrder(C.AMSortMode.Title))">
            <span class="material-icons-outlined" style="@(mode == C.AMSortMode.Title ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == C.AMSortMode.Title ? "#1a73e8" : "white")">Album Title</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(C.AMSortMode.TitleReversed))">
            <span class="material-icons-outlined" style="@(mode == C.AMSortMode.TitleReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == C.AMSortMode.TitleReversed ? "#1a73e8" : "white")">Album Title Reversed</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(C.AMSortMode.LastModified))">
            <span class="material-icons-outlined" style="@(mode == C.AMSortMode.LastModified ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == C.AMSortMode.LastModified ? "#1a73e8" : "white")">Last Modified</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(C.AMSortMode.LastModifiedReversed))">
            <span class="material-icons-outlined" style="@(mode == C.AMSortMode.LastModifiedReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == C.AMSortMode.LastModifiedReversed ? "#1a73e8" : "white")">Last Modified Reversed</span>
        </button>
    </div>
</header>

<div id="mainDiv">
    @foreach (C.Collection album in albums)
    { 
        <div class="album" onclick="location.href='/album-view/@album.id'"> @*Text and album thumbnail*@
            <div class="thumbnail">
                @if (album.cover != ""){<img src="@S.LIB_REQUEST_PATH/@album.cover" alt=""/>}
            </div>
            <span class="albumName">@album.name</span>
        </div>
    }
</div>

@code {
    private static List<C.Collection> albums;
    
    private static string sortBtnText;
    private static string sortDivVis;
    private static C.CMSortMode mode;

    private static bool showAlbums = true;
    private static bool showFolders = false;

    protected override void OnInitialized()
    {
        GetAlbumsTable();
        
        mode = C.CMSortMode.LastModified; //Default sort mode
        
        SetSortBtnText();
        sortDivVis = "hidden";
    }

    private static void GetAlbumsTable() => albums = C.GetAlbumsTable(showAlbums, showFolders, mode);

    private static void SetSortBtnText()
    {
        sortBtnText = mode switch
        {
            C.CMSortMode.Title => "Collection Title",
            C.CMSortMode.TitleReversed => "Title Reversed",
            C.CMSortMode.LastModified => "Last Modified",
            C.CMSortMode.LastModifiedReversed => "Last Modified Reversed",
            _ => "Collection Title"
        };
    }

    private static void ChangeOrder(C.CMSortMode newMode)
    {
        mode = newMode;
        GetAlbumsTable();
        SetSortBtnText();
        sortDivVis = "hidden";
    }
}