@* Show all collections and allow user to sort them and make new ones *@
@page "/collections"

<title>Collections - PSS</title>
<link href="css/CollectionsMain.css" rel="stylesheet">

<header>
    <span id="collectionsText">Collections</span>
    <CollectionCreator @ref="@collectionCreator" Collections="@collections"/>
    
    <div id="checkboxes">
        <div @onclick="@(() => { showAlbums = !showAlbums; GetCollectionsTable(); })">
            <input type="checkbox" @bind="@showAlbums">
            <span>Show Albums</span>
        </div>
        <div @onclick="@(() => { showFolders = !showFolders; GetCollectionsTable(); })">
            <input type="checkbox" @bind="@showFolders">
            <span>Show Folders</span>
        </div>
        <div @onclick="@(() => { showReadonly = !showReadonly; GetCollectionsTable(); })">
            <input type="checkbox" @bind="@showReadonly">
            <span>Show Readonly</span>
        </div>
    </div>

    <button class="textBtn" @onclick="@(() => F.VisToggle(ref sortDivVis))" id="sortBtn"><span class="material-icons-outlined">sort</span><span class="btnText">@sortBtnText</span></button>
    <div id="sortDiv" style="visibility: @sortDivVis">
        <button class="textBtn" @onclick="@(() => ChangeOrder(CMSortMode.Title))">
            <span class="material-icons-outlined" style="@(mode == CMSortMode.Title ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == CMSortMode.Title ? "#1a73e8" : "white")">Album Title</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(CMSortMode.TitleReversed))">
            <span class="material-icons-outlined" style="@(mode == CMSortMode.TitleReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == CMSortMode.TitleReversed ? "#1a73e8" : "white")">Album Title Reversed</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(CMSortMode.LastModified))">
            <span class="material-icons-outlined" style="@(mode == CMSortMode.LastModified ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == CMSortMode.LastModified ? "#1a73e8" : "white")">Last Modified</span>
        </button>
        <button class="textBtn" @onclick="@(() => ChangeOrder(CMSortMode.LastModifiedReversed))">
            <span class="material-icons-outlined" style="@(mode == CMSortMode.LastModifiedReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span style="color: @(mode == CMSortMode.LastModifiedReversed ? "#1a73e8" : "white")">Last Modified Reversed</span>
        </button>
    </div>
</header>

<div id="mainDiv">
    @foreach (Collection collection in collections)
    { 
        <div class="collection" onclick="location.href='/collection-view/@collection.id'"> @*Text and collection thumbnail*@
            <div class="thumbnail">
                @if (collection.cover != ""){<img src="@S.LIB_REQUEST_PATH/@collection.cover" alt=""/>}
            </div>
            <span class="collectionName">@collection.name</span>
        </div>
    }
</div>

@code {
    private List<Collection> collections;

    private CollectionCreator collectionCreator;
    
    private string sortBtnText, sortDivVis = "hidden";
    private CMSortMode mode = CMSortMode.LastModified;
    private bool showAlbums = true, showFolders, showReadonly = true;

    protected override void OnInitialized()
    {
        GetCollectionsTable();
        SetSortBtnText();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        collectionCreator.CollectionCreated += (_, _) => GetCollectionsTable();
    }

    private void GetCollectionsTable()
    {
        collections = C.GetCollectionsTable(showAlbums, showFolders, showReadonly, mode);
        StateHasChanged();
    }

    private void SetSortBtnText()
    {
        sortBtnText = mode switch
        {
            CMSortMode.Title => "Collection Title",
            CMSortMode.TitleReversed => "Title Reversed",
            CMSortMode.LastModified => "Last Modified",
            CMSortMode.LastModifiedReversed => "Last Modified Reversed",
            _ => "Collection Title"
        };
    }

    private void ChangeOrder(CMSortMode newMode)
    {
        mode = newMode;
        GetCollectionsTable();
        SetSortBtnText();
        sortDivVis = "hidden";
    }
}