@page "/gpo-import"
@using Microsoft.VisualBasic.FileIO

<title>GPO Import - PSS</title>
<link href="css/ImportGPOFolder.css" rel="stylesheet">

<header>
    <button class="textBtn" @onclick="@(() => F.VisToggle(ref filterVis))" title="This filter thing sucks I know but how it works is check neither, warning, or error (just 1 at a time) to show just those items">
        <span class="material-icons-outlined">filter_list</span><span>Filter Items</span>
    </button>

    <button class="textBtn" @onclick="AddItems">
        <span class="material-icons-outlined">add_photo_alternate</span><span>Add to Library</span>
    </button>

    <button class="textBtn" @onclick="@(() => { promptVis = "visible"; message = $"Are you sure you want to DELETE all {allFiles.Count(f => f.alreadyInLib)} items with errors from pss_upload?"; })">
        <span class="material-icons-outlined">delete_forever</span><span>Delete Errors</span>
    </button>

    <button class="textBtn" @onclick="@(() => F.VisToggle(ref collectionSelectorVis))">
        <span class="material-icons-outlined">@(collectionSelectorVis == "visible" ? "image_not_supported" : "image")</span><span>@(collectionSelectorVis == "visible" ? "Hide Collections" : "Show Collections")</span>
    </button>

    <span id="statusSpan">@status</span>
</header>

<div id="filter" style="visibility: @filterVis">
    <label><input type="checkbox" @bind="@neitherChecked">Neither</label>
    <label style="color: yellow"><input type="checkbox" @bind="@warningChecked">Warning (No DT)</label>
    <label style="color: red"><input type="checkbox" @bind="@errorChecked">Error (Already in Lib)</label>
    <label style="color: #00af00"><input type="checkbox" @bind="@timeInfoChecked">Show Time Info</label>
</div>

<TwoChoiceInput TwoChoiceVis="@promptVis" YesBtnClick="@(() => DeleteErrors())" NoBtnClick="@(() => { promptVis = "hidden"; StateHasChanged(); })" Message="@message"/>
<CollectionSelector @ref="@collectionSelector" CollectionsVis="@collectionSelectorVis" SelectedItems="@allGuids" ShowCheckCancelButtons="false"/>

<KeyboardShortcuts AltA="@(() => { F.VisToggle(ref collectionSelectorVis); StateHasChanged(); })" />

@{
    GC.Collect();
    GC.WaitForPendingFinalizers();

    <div id="mainDiv">
        @for (int i = 0; i < allFiles.Count; i++)
        {
            if (warningChecked && allFiles[i].dateTaken != null) continue; //If this item doesn't have a warning skip it
            if (errorChecked && allFiles[i].alreadyInLib == false) continue; //If this item has an error skip it
            if (neitherChecked && allFiles[i].dateTaken != null && !allFiles[i].alreadyInLib) continue; //Only show items with no warnings or errors
            
            int ii = i; @*Necessary for some things like the <input>'s*@
            string dateString = allFiles[i].dateTaken == null ? null : allFiles[i].dateTaken?.ToString("ddd, MMM d, yyy h:mm:ss tt"); 
            
            //Get the short path to this item relative to pss_upload.
            string ogShortPath = Path.Join("pss_upload", allFiles[i].fullPath.Replace(S.uploadFolderPath!, null));

            <div class="itemDiv">
            @{
                <img title="Click for Full Size Preview" onclick="window.open('@ogShortPath', '_blank').focus();" src=@(allFiles[i].thumbnail == null ? ogShortPath : "data:image/jpg;base64," + allFiles[i].thumbnail) alt="" loading="lazy"/>
                <span class="filename">@Path.GetFileName(ogShortPath)</span>
                <span title="@dateString" class="dateTakenSpan">@dateString</span>

                if (allFiles[i].dateTaken == null && !allFiles[i].alreadyInLib){<span class="warnSpan">Unknown Date Taken</span>}
                if (!allFiles[i].alreadyInLib){<input title="Choose New Date Taken" type="datetime-local" @bind="@allFiles[ii].dateTaken" @bind:event="oninput" @onchange="@UpdateStatus" step="1">} @* step=1 forces the seconds to be there (would disappear if DT is null) *@
                if (timeInfoChecked){<span class="infoSpan">@($"Time Source: {allFiles[i].dateTakenSrc}")</span>}
                if (allFiles[i].alreadyInLib){<span class="errorSpan">Item already in library. Won't upload.</span>}
                
                <button class="iconBtn" title="Remove This Item From the Upload" @onclick="@(() => { allFiles.RemoveAt(ii); UpdateStatus(); StateHasChanged(); })"><span class="material-icons">close</span></button>
                <button class="iconBtn" title="DELETE This Item From the Upload" @onclick="@(() => { FileSystem.DeleteFile(allFiles[ii].fullPath, UIOption.OnlyErrorDialogs, RecycleOption.SendToRecycleBin); allFiles.RemoveAt(ii); UpdateStatus(); StateHasChanged(); })"><svg width="24px" height="24px" class="material-icons" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
            }
            </div>
        }
    </div>
}

@code{
    private static CollectionSelector collectionSelector = new();
    private static string collectionSelectorVis;

    private static List<Guid> allGuids; //Passed in to CollectionSelector and gets items added in AddItems().
    private static List<string> allFullPaths;
    private static List<C.UploadFile> allFiles;

    private static string status;
    
    //Two Choice Input
    private static string promptVis;
    private static string message;

    //Filtering
    private static string filterVis;
    private static bool neitherChecked;
    private static bool warningChecked;
    private static bool errorChecked;
    private static bool timeInfoChecked;
    
    protected override void OnInitialized()
    {
        allGuids = new List<Guid>();
        allFullPaths = F.GetSupportedFiles(Upload.GpoFolderPath);
        allFiles = new List<C.UploadFile>(allFullPaths.Count);
        promptVis = filterVis = collectionSelectorVis = "hidden";
        timeInfoChecked = true;
        
        Parallel.ForEach(allFullPaths, fullPath =>
        {
            //Get the date taken based on this item's fullPath.
            string dtPath = fullPath.Replace(Upload.GpoFolderPath, null);
            dtPath = dtPath.Replace(Path.GetFileName(dtPath), null).Replace('\\', '/');
            if (dtPath[0] == '/') dtPath = dtPath.Remove(0, 1);

            D.DateTakenSrc timeSrc;
            DateTime? fullDT;
            if (dtPath.StartsWith("Unknown"))
            {
                timeSrc = D.DateTakenSrc.None;
                fullDT = null;
            }
            else
            {
                string[] data = dtPath.Split('/'); //Split 2018/2 February/14 into 2018, 2, and 14
                int year = Int32.Parse(data[0]);
                int month = Int32.Parse(data[1].Substring(0, 2));
                int day = Int32.Parse(data[2]);

                //Now try and get time, if there is any.
                DateTime? time = D.GetDateTakenAuto(fullPath, out timeSrc);
                if (time == null)
                    fullDT = new DateTime(year, month, day);
                else
                    fullDT = new DateTime(year, month, day, time.Value.Hour, time.Value.Month, time.Value.Day);
            }

            allFiles.Add(new C.UploadFile
            {
                filename = Path.GetFileName(fullPath),
                fullPath = fullPath.Replace('\\', '/'),
                thumbnail = Path.GetExtension(fullPath) is ".mp4" or ".mkv" or ".mov" ? F.GenerateThumbnail(fullPath) : null,
                dateTaken = fullDT,
                dateTakenSrc = timeSrc,
                alreadyInLib = ItemInLibrary(fullDT, Path.GetFileName(fullPath)),
                uuid = Guid.NewGuid()
            });
        });
        UpdateStatus();
    }
}

@functions{
    //Checks to see if there is a file on the server with the same name and date path.
    private static bool ItemInLibrary(DateTime? dateTaken, string filename) => File.Exists(C.CreateFullPath(dateTaken, filename));

    private static void UpdateStatus() => status = allFiles.Count == 0 ? "No files found to add" : $"{allFiles.Count(f => f.thumbnail == null)} pictures and {allFiles.Count(f => f.thumbnail != null)} videos pending upload. {allFiles.Count(f => f.dateTaken == null)} Warnings. {allFiles.Count(f => f.alreadyInLib)} Errors.";

    //Permanently deletes every item in the upload folder that is marked with an error (already on server).
    private void DeleteErrors()
    {
        foreach (C.UploadFile file in allFiles.Where(file => file.alreadyInLib))
        {
            allFiles.Remove(file);
            File.Delete(file.fullPath);
        }
        promptVis = "hidden";
        StateHasChanged();
    }

    //Adds all the items to photo library, and, if applicable, any album(s) or folder.
    private static void AddItems()
    {
        int rowsAffected = 0;
        
        foreach (C.UploadFile file in allFiles)
        {
            if (file.alreadyInLib) continue; //Ignore duplicates

            string newShortPath = C.CreateShortPath(file.dateTaken, file.filename).Replace('\\', '/');
            allGuids.Add(file.uuid);
            Directory.CreateDirectory(C.CreateFullDateFolderPath(file.dateTaken));

            GC.Collect(); //Dumb but it prevents file in use error for File.Move. https://stackoverflow.com/a/21137207
            GC.WaitForPendingFinalizers();
            try
            {
                string fullFinalPath = C.CreateFullPath(file.dateTaken, file.filename);
                File.Move(file.fullPath!, fullFinalPath);
                rowsAffected += C.InsertMedia(newShortPath, file.dateTaken, file.uuid, file.thumbnail);
                D.UpdateDateTaken(fullFinalPath, file.dateTaken);
            }
            catch (IOException e)
            {
                Console.WriteLine(e.Message);
            }
        }
        
        collectionSelector.ConfirmBtnClick(); //Adds every file to the album(s)/folder.
        status = $"Added {rowsAffected} items to library";
        allFiles.Clear();
        collectionSelectorVis = "hidden";
    }
}
