@page "/settings"

<title>Settings - PSS</title>
<link href="css/Settings.css" rel="stylesheet"/>

<div id="body">
    <div>
        <span class="header">Settings</span>
        <div class="settings-pair">
            <span>Server IP Address</span>
            <input type="text" class="settings-pair" @bind="@serverIP"/>
        </div>

        <div class="settings-pair">
            <span>Where to upload items for applying</span>
            <input type="text" class="settings-pair" @bind="@uploadFolderPath"/>
        </div>

        <div class="settings-pair">
            <span>Root path to library folder</span>
            <input type="text" class="settings-pair" @bind="@libraryRootPath"/>
        </div>

        <div class="settings-pair">
            <span>Where to backup library and database</span>
            <input type="text" class="settings-pair" @bind="@backupFolderPath"/>
        </div>
        
        <div class="settings-pair">
            <span>Where to store temporary items</span>
            <input type="text" class="settings-pair" @bind="@tmpFolderPath"/>
        </div>
        
        <div class="settings-pair">
            <input type="checkbox" class="settings-pair" @bind="@showPrompts"/>
            <span style="display: inline">Show Prompts?</span>
        </div>
        
        <div class="settings-pair">
            <input type="checkbox" class="settings-pair" @bind="@displayNoDTInAV"/>
            <span style="display: inline">Display items with no date taken in albums/folders?</span>
        </div>
        
        <div class="settings-pair">
            <span title="Lower the number, higher the quality.">Video Thumbnail Quality: @thumbnailQuality</span>
            <input type="range" step="1" min="1" max="31" @bind="@thumbnailQuality" @bind:event="oninput" title="Lower the number, higher the quality."/>
        </div>

        <button class="textBtn" @onclick="@ApplyBtnClicked"><span class="material-icons-outlined">check</span><span>Apply</span></button>
        <button class="textBtn" @onclick="@CancelBtnClicked"><span class="material-icons-outlined">close</span><span>Cancel</span></button>
        <button class="textBtn" @onclick="@ResetBtnClicked"><span class="material-icons-outlined">restart_alt</span><span>Reset</span></button>
    </div>
    
    <div id="shortcuts">
        <span class="header" onclick="document.getElementById('allShortcuts').style.display = 'inline'">Keyboard Shortcuts</span>
        <div id="allShortcuts" style="display: none">
            <span>Index/Starred/Album View</span>
            <div><code>Ctrl D</code><span>Delete Selected</span></div>
            <div><code>Alt A</code><span>Show Album Selector</span></div>
            <div><code>Alt S</code><span>Show Star Menu in Index and AV</span></div>
            <div><span>Any pages like these ones all support Ctrl and Shift. Ctrl is an alternative to the small check button and Shift is for selecting multiple items.</span></div>

            <span>View Item</span>
            <div><code>Ctrl D</code><span>Delete Item</span></div>
            <div><code>Ctrl E</code><span>Edit Date Taken</span></div>
            <div><code>Alt A</code><span>Show Album Selector</span></div>
            <div><code>Alt Left</code><span>Go Back</span></div>
            <div><code>Alt S</code><span>Add/Remove Star</span></div>
        </div>
    </div>

    <div>
        <span class="header">Maintenance</span>
        <button class="textBtn" title="Create and Restore Backups of PSS"><span class="material-icons-outlined">restore</span><a href="maintenance/backups">Backups</a></button>
        <button class="textBtn" @onclick="@(() => { Directory.Delete(S.tmpFolderPath, true); Directory.CreateDirectory(S.tmpFolderPath); })"><span class="material-icons-outlined">folder_delete</span><span>Clear pss_tmp</span></button>
        <button title="Clear pss_tmp and Empty Trash" class="textBtn" @onclick="@FreeUpSpace"><span class="material-icons-outlined">folder_delete</span><span>Free Up Space</span></button>
        @if (!maintenanceLoaded)
        {<button class="textBtn" @onclick="@RunMaintenanceCheck"><span class="material-icons-outlined">build</span><span>Run Maintenance Check</span></button>}
        @if (maintenanceLoaded)
        {
            <button class="textBtn" title="Items in Library Folder but NOT in Database"><span class="material-icons-outlined">insert_drive_file</span><a href="maintenance/untracked-files">Untracked Files (@untrackedPaths.Count)</a></button>
            <button class="textBtn" title="Paths in Database but File Is Not Present in Library"><span class="material-icons-outlined">find_in_page</span><a href="maintenance/missing-files">Missing Files (@mediaMissingFiles.Count)</a></button>
            <button class="textBtn" @onclick="@EmptyFoldersBtnClick" title="Click to Delete All Empty Folders From Library and Upload"><span class="material-icons-outlined">folder</span><span>Empty Folders (@emptyFolders.Count)</span></button>
        }
    </div>
    
    <div id="statsDiv">
        <span class="header">Stats</span>
        @if (!statsLoaded) {<button class="textBtn" @onclick="@GetStats" title="Click to Load Stats for Library"><span class="material-icons-outlined">insights</span><span>Load Stats</span></button>}
        @if (statsLoaded)
        {
            <span>@($"{mediaRowCount} {(mediaRowCount == 1 ? "Item In Library" : "Items In Library")}")</span>
            <span>@($"{trashRowCount} {(trashRowCount == 1 ? "Item In Trash" : "Items In Trash")}")</span>
            <span>@($"{collectionsCount} {(collectionsCount == 1 ? "Collection" : "Collections")}")</span>
            <span style="margin-top: 14px;">Library Drive Total Size (Usable): @F.FormatBytes(totalUsableDriveSize)</span>
            <span>Library Drive Free Space: @F.FormatBytes(freeDriveSpace)</span>
            <progress style="margin-bottom: 14px" max="100" value="@((float)freeDriveSpace / totalUsableDriveSize * 100)"></progress>
            <span>Library Size: @F.FormatBytes(librarySize)</span>
            if (oldestDTItem.uuid != Guid.Empty)
            {
                <span><a target="_blank" href="@($"/view/{oldestDTItem.uuid}")">Item with Oldest Date Taken, Taken on @oldestDTItem.dateTaken</a></span> <!-- https://stackoverflow.com/questions/50709625/link-with-target-blank-and-rel-noopener-noreferrer-still-vulnerable -->
            }
            if (newestDTItem.uuid != Guid.Empty)
            {
                <span><a target="_blank" href="@($"/view/{newestDTItem.uuid}")">Item with Newest Date Taken, Taken on @newestDTItem.dateTaken</a></span>
            }
            if (oldestDAItem.uuid != Guid.Empty)
            {
                <span><a target="_blank" href="@($"/view/{oldestDAItem.uuid}")">Item with Oldest Date Added, Added on @oldestDAItem.dateAdded</a></span>
            }
            if (newestDAItem.uuid != Guid.Empty)
            {
                <span><a target="_blank" href="@($"/view/{newestDAItem.uuid}")">Item with Newest Date Added, Added on @newestDAItem.dateAdded</a></span>
            }
            <span>Server went online at @whenWentOnline</span>
            <span>Server has been online for @(DateTime.Now - whenWentOnline)</span>
        }
    </div>

    <div id="debugDiv">
        <span class="header">Debug</span>
        <div>
            <input type="text" placeholder="Enter a query" @bind="@debugQuery"/>
            <button class="textBtn" style="margin-left: 10px" @onclick="@RunQuery"><span class="material-icons-outlined">play_arrow</span><span>Run Query</span></button>
        </div>
    </div>
</div>

@code {
    //Settings
    private static string serverIP = S.serverIP;
    private static string uploadFolderPath = S.uploadFolderPath;
    private static string libraryRootPath = S.libFolderPath;
    private static bool showPrompts = S.showPrompts;
    private static bool displayNoDTInAV = S.displayNoDTInAV;
    private static string backupFolderPath = S.backupFolderPath;
    private static string tmpFolderPath = S.tmpFolderPath;
    private static int thumbnailQuality = S.thumbnailQuality;
    
    //Maintenance
    private static bool maintenanceLoaded;
    private static List<string> untrackedPaths;

    //Get all folders in pss_library and pss_upload
    private static string[] folderPaths;
    private static readonly List<string> emptyFolders = new();
    
    //Missing files
    private static List<C.MediaRow> mediaMissingFiles = new();
    
    //Stats
    private static bool statsLoaded;
    private static long mediaRowCount, trashRowCount, collectionsCount;
    private static long totalUsableDriveSize; //How much space the drive pss_library is on could have. E.g., on a 1 TB drive it returns ~930 GB. The rest is probably reserved for the OS.
    private static long freeDriveSpace; //Bytes
    private static long librarySize; //Bytes
    private static C.MediaRow oldestDTItem, newestDTItem, oldestDAItem, newestDAItem;
    public static DateTime whenWentOnline; //When did the server go online?
    
    //Debug
    private static string debugQuery;

    protected override void OnInitialized()
    {
        maintenanceLoaded = false;
        
        //Items in lib folder but not DB.
        untrackedPaths = new List<string>();
        
        //Items in database but not a file on server
        mediaMissingFiles = new List<C.MediaRow>();

        //Empty folders
        folderPaths = Directory.GetDirectories(S.libFolderPath, "*", SearchOption.AllDirectories).Concat(Directory.GetDirectories(S.uploadFolderPath, "*", SearchOption.AllDirectories)).ToArray();
        foreach (string path in folderPaths)
            if (M.IsFolderEmpty(path) && !emptyFolders.Contains(path)) emptyFolders.Add(path);
        
        //Stats
        statsLoaded = false;
        mediaRowCount = trashRowCount = 0;
        collectionsCount = 0;
        totalUsableDriveSize = 0;
        freeDriveSpace = 0;
        librarySize = 0;
        oldestDTItem = newestDTItem = oldestDAItem = newestDAItem = new C.MediaRow(null, null, DateTime.Now, false, Guid.Empty);
    }

    ///Free up space on server by removing temporary files, empty folders, and emptying the trash.
    private static void FreeUpSpace()
    {
        //Clear pss_tmp.
        Directory.Delete(S.tmpFolderPath, true);
        Directory.CreateDirectory(S.tmpFolderPath);
        
        EmptyFoldersBtnClick();
        C.EmptyTrash();
    }

    ///Update settings.
    private static void ApplyBtnClicked()
    {
        S.serverIP = serverIP;
        S.uploadFolderPath = uploadFolderPath;
        S.libFolderPath = libraryRootPath;
        S.showPrompts = showPrompts;
        S.displayNoDTInAV = displayNoDTInAV;
        S.backupFolderPath = backupFolderPath;
        S.tmpFolderPath = tmpFolderPath;
        S.thumbnailQuality = thumbnailQuality;
        S.WriteSettings();
    }

    ///Cancel modification of settings.
    private static void CancelBtnClicked()
    {
        serverIP = S.serverIP;
        uploadFolderPath = S.uploadFolderPath;
        libraryRootPath = S.libFolderPath;
        showPrompts = S.showPrompts;
        displayNoDTInAV = S.displayNoDTInAV;
        backupFolderPath = S.backupFolderPath;
        tmpFolderPath = S.tmpFolderPath;
        thumbnailQuality = S.thumbnailQuality;
    }

    ///Reset settings to default values.
    private static void ResetBtnClicked()
    {
        S.ResetSettings();
        CancelBtnClicked();
    }

    //Delete all empty folders
    private static void EmptyFoldersBtnClick()
    {
        emptyFolders.Reverse(); //Start at deepest folder and work up (to avoid dir not found errors).
        foreach (string path in emptyFolders) Directory.Delete(path);
        emptyFolders.Clear();
    }

    ///Runs a Maintenance Check on PSS.
    private static void RunMaintenanceCheck()
    {
        maintenanceLoaded = true;
        untrackedPaths = M.GetUntrackedLibFiles();

        mediaMissingFiles = M.GetMediaMissingFiles();

        folderPaths = Directory.GetDirectories(S.libFolderPath, "*", SearchOption.AllDirectories).Concat(Directory.GetDirectories(S.uploadFolderPath, "*", SearchOption.AllDirectories)).ToArray();
        foreach (string path in folderPaths)
            if (M.IsFolderEmpty(path) && !emptyFolders.Contains(path)) emptyFolders.Add(path);
    }

    ///Get various statistics about the server and the library.
    private static void GetStats()
    {
        statsLoaded = true;
        mediaRowCount = Stats.GetNumItemsInLibrary();
        trashRowCount = Stats.GetNumItemsInTrash();
        collectionsCount = Stats.CountCollections();
        
        DriveInfo driveInfo = new(S.libFolderPath);
        totalUsableDriveSize = driveInfo.TotalSize;
        freeDriveSpace = driveInfo.TotalFreeSpace;
        
        librarySize = new DirectoryInfo(S.libFolderPath).EnumerateFiles("*", SearchOption.AllDirectories).Sum(file => file.Length);

        oldestDTItem = Stats.FindItemWithOldestDateTaken();
        newestDTItem = Stats.FindItemWithNewestDateTaken();
        oldestDAItem = Stats.FindItemWithOldestDateAdded();
        newestDAItem = Stats.FindItemWithNewestDateAdded();
    }

    ///Only for debugging/testing purposes.
    private static void RunQuery()
    {
        try
        {
            C.Open();
            NpgsqlCommand cmd = new(debugQuery, C.connection);
            cmd.ExecuteNonQuery();
        }
        catch (NpgsqlException e)
        {
            Console.WriteLine("Error in RunQuery. " + e.Message);
        }
        finally
        {
            C.Close();
        }
    }
}