@* Reusable component for a simple popup for long-running processes to prevent user from navigating away from page. *@
<link href="/css/components/ProgressPopUp.css" rel="stylesheet">

<div id="popupBackground" style="display: @(Visible ? "inline" : "none")">
    <div id="progressPopUp" style="width: @(Width + "px"); height: @(Height + "px")">
        <span style="font-size: @(FontSize + "px")">@Message</span>
        <progress style="display: @(ShowProgressBar ? "inline" : "none");" max="@ProgressBarMax" value="@ProgressBarValue"></progress>
    </div>
</div>

@code{

    [Parameter, EditorRequired]
    public bool Visible { get; set; }
    
    [Parameter, EditorRequired]
    public string Message { get; set; }

    [Parameter]
    public int Width { get; set; } = 320;

    [Parameter]
    public int Height { get; set; } = 300;

    [Parameter]
    public int FontSize { get; set; } = 20;

    [Parameter, EditorRequired]
    public bool ShowProgressBar { get; set; }

    [Parameter]
    public double ProgressBarValue { get; set; }

    [Parameter]
    public double ProgressBarMax { get; set; } = 100;
}