@*Reusable component used for viewing a full-size item.
Required Parameters:
    1. string id (uuid) to display
    2. List of items that the currently viewed item is a part of.
        E.g., if the viewed item was in Index, that would be the List of items from the media SQL table.
        If it was an item in an album, the List would be the List of items in that album.
        This List allows the user to go left/right through the List to view different items,
        instead of having to hit the back button each time. Google Photos has this same behavior, although it is much faster.
    3. String Page. Either 'view' or 'view-album-item/<albumID>' Used for the left/right buttons.
    4. String ReturnPath: The page to return to when hit the back button.
    5. DateTime DateAdded: Either date added to library (if viewing Index items) or date added to album.
    
Optional Parameters:
    1. AlbumID. Only used for ViewAlbumItem. Causes update album cover btn to appear. Defaults to -1 if not specified.
*@
@inject NavigationManager navigationManager;

<title>View Item - PSS</title>
<link href="/css/components/ViewItem.css" rel="stylesheet"/>

@{
    if (shortPath == "null") //If URL contains a UUID that isn't present in the database.
    {
        <NavMenu/>
        <Error/>
    }
    else
    {
        bool starred = C.GetStarred(shortPath);
        
        <KeyboardShortcuts
            CtrlD="@DeleteBtnClick"
            CtrlE="@(() => F.VisToggle(ref editDateDivVis))"
            AltA="@(() => { F.VisToggle(ref albumsVis); StateHasChanged(); })"
            AltLeft="@(() => navigationManager.NavigateTo(ReturnPath))"
            AltS="@(() => { C.UpdateStarred(shortPath, !starred); StateHasChanged(); })"/>

        @*if (ShortcutsReference.visibility == "visible")
        {
            <ShortcutsReference CtrlDText="Delete this item" CtrlEText="Edit Date Taken" AltAText="Add to album" AltSText="Star/Unstar"/>
        }*@

        @*Stuff in top right corner*@
        <div id="buttons">
            <button class="iconBtn" @onclick="@(() => F.VisToggle(ref infoVis))" title="Show Info"><span class="material-icons-outlined">info</span></button>
            <button class="iconBtn" @onclick="@DeleteBtnClick" title="Delete"><svg width="24px" height="24px" class="material-icons-outlined" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
            <button class="iconBtn" @onclick="@(() => F.VisToggle(ref moreOptionsVis))"><span class="material-icons-outlined">more_vert</span></button>
        </div>
        
        <div id="moreOptionsDiv" style="visibility: @moreOptionsVis">
            <button class="iconBtn" @onclick="@(() => F.VisToggle(ref albumsVis))" title="Add to Album"><span class="material-icons-outlined">library_add</span></button>
            
            <button class="iconBtn" @onclick="@(() => C.UpdateStarred(shortPath, !starred))" title="@(starred ? "Remove Star" : "Add Star")">
                <span class="material-icons-outlined">@(starred ? "star" : "star_outline")</span>
            </button>
            
            @if (AlbumID != -1 && MediaList[index].thumbnail == null)
            { <button class="iconBtn" @onclick="@(() => C.UpdateAlbumCover(AlbumID, shortPath))" title="Use As Album Cover">
                    <span class="material-icons-outlined">collections</span>
                </button>
            }
        </div>
        
        <div id="infoDiv" style="visibility: @infoVis">
            <div class="dataDiv" title="Date Taken">
                <svg width="24px" height="24px" class="v1262d JUQOtc Y0p3Ue" viewBox="0 0 24 24"><path d="M19 3h-1V1h-2v2H8V1H6v2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM9 9.5a2.5 2.5 0 0 0 0 5 2.5 2.5 0 0 0 0-5z"></path></svg>
                <span>@ogDateTaken.ToString("ddd, MMM d, yyyy h:mm:ss tt")</span>
                <button class="iconBtn" @onclick="@(() => editDateDivVis = "visible")"><span class="material-icons-outlined">edit</span></button>
            </div>
            
            <div class="dataDiv" title="Date Added">
                <svg width="24px" height="24px" class="v1262d JUQOtc Y0p3Ue" viewBox="0 0 24 24"><path d="M19 3h-1V1h-2v2H8V1H6v2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM9 9.5a2.5 2.5 0 0 0 0 5 2.5 2.5 0 0 0 0-5z"></path></svg>
                <span>@DateAdded.ToString("ddd, MMM d, yyyy h:mm:ss tt")</span>
            </div>

            <div class="dataDiv">
                <svg width="24px" height="24px" class="v1262d JUQOtc Y0p3Ue" viewBox="0 0 24 24"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-5-7l-3 3.72L9 13l-3 4h12l-4-5z"></path></svg>
                <span>@Path.GetFileName(C.GetPathFromUuid(id))</span>
                <button class="iconBtn" @onclick="@(() => editFilenameDivVis = "visible")"><span class="material-icons-outlined">edit</span></button>
            </div>
            
            @if (albums.Count > 0)
            {
                <span id="albumsText">Albums</span>
                <div id="albumsIn">
                    @foreach (C.Album album in albums)
                    {
                        <a href="/album-view/@album.id">
                            <div class="album">
                                <div class="coverDiv">
                                    <img class="cover" src="@S.LIB_REQUEST_PATH/@album.albumCover" alt="">
                                </div>
                                <span title="@album.name">@album.name</span>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
        
        <AlbumSelector SelectedItems="@(new List<string> {shortPath})" @bind-AlbumsVis="@albumsVis"/>
        
        <div class="inputBox" style="visibility: @editDateDivVis">
            <span>Enter new date taken:</span>
            <input title="" type="datetime-local" @bind="@newDateTaken" required/>
            <div>
                <button class="iconBtn" @onclick="@(() => editDateDivVis = "hidden")"><span class="material-icons-outlined">close</span></button>
                <button class="iconBtn" @onclick="@UpdateDateTaken"><span class="material-icons-outlined">check</span></button>
            </div>
        </div>
        
        <div class="inputBox" style="visibility: @editFilenameDivVis">
            <span>Enter new filename:</span>
            <input title="" type="text" @bind="@newFilename" required/>
            <span id="errorSpan" style="visibility: @filenameErrorVis">@filenameErrorText</span>
            <div>
                <button class="iconBtn" @onclick="@(() => { editFilenameDivVis = filenameErrorVis = "hidden"; newFilename = ""; })"><span class="material-icons-outlined">close</span></button>
                <button class="iconBtn" @onclick="@RenameFile"><span class="material-icons-outlined">check</span></button>
            </div>
        </div>
        
        <button class="iconBtn" id="backBtn" onclick="location.href='@ReturnPath'"><span class="material-icons-outlined">keyboard_backspace</span></button>

        if (index - 1 >= 0) //Don't go outside array
        {
            <div onclick="location.href='/@Page/@MediaList[index - 1].uuid'" class="sideBtn" id="leftBtn">
                <svg width="36px" height="36px" viewBox="0 0 24 24"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"></path></svg>
            </div>
        }

        if (MediaList[index].thumbnail == null)
        {
            <div @onkeydown="@ChangeImage" tabindex="0" id="viewDiv"><img onload="document.getElementById('viewDiv').focus()" src="@S.LIB_REQUEST_PATH/@shortPath" alt=""/></div>
        }
        else
        {
            <div id="viewDiv"><video src="@S.LIB_REQUEST_PATH/@shortPath" loop autofocus controls autoplay></video></div>
        }
        
        if (index + 1 < MediaList.Count)
        {
            <div onclick="location.href='/@Page/@MediaList[index + 1].uuid'" class="sideBtn" id="rightBtn">
                <svg width="36px" height="36px" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg>
            </div>
        }
    }
}

@code {
    [Parameter, EditorRequired]
    public string id { get; set; }
    private static Guid parsedID;
    
    [Parameter, EditorRequired]
    public List<C.MediaRow> MediaList { get; set; }
    
    [Parameter, EditorRequired]
    public string Page { get; set; }

    [Parameter, EditorRequired]
    public string ReturnPath { get; set; }
    
    [Parameter, EditorRequired]
    public DateTime DateAdded { get; set; }

    [Parameter]
    public int AlbumID { get; set; } = -1;
    
    private static string shortPath;
    private static DateTime ogDateTaken; //Original
    private static DateTime newDateTaken;
    private static string editDateDivVis;

    private static string newFilename, editFilenameDivVis, filenameErrorVis, filenameErrorText;

    private static string albumsVis;
    private static string infoVis;
    private static string moreOptionsVis;
    private static List<C.Album> albums;
    private static int index = 0; //The current image's index in the list
}

@functions{
    protected override void OnInitialized()
    {
        parsedID = Guid.Parse(id);
        shortPath = C.GetPathFromUuid(parsedID);
        ogDateTaken = newDateTaken = C.GetDateTaken(parsedID);
        albumsVis = "hidden";
        infoVis = "hidden";
        moreOptionsVis = "hidden";
        newFilename = Path.GetFileNameWithoutExtension(shortPath);
        editDateDivVis = editFilenameDivVis = filenameErrorVis = "hidden";
        filenameErrorText = "";
        albums = C.GetAlbumsItemIn(parsedID);
        
        //Find index. Can't use IndexOf for reasons
        for (int i = 0; i < MediaList.Count; i++)
        {
            if (MediaList[i].path == shortPath)
                index = i;
        }
    }
    
    private void DeleteBtnClick()
    {
        navigationManager.NavigateTo(ReturnPath);
        // C.MoveToTrash(C.GetPathFromUuid(parsedID)); TODO
    }

    private static void UpdateDateTaken()
    {
        editDateDivVis = "hidden";
        C.UpdateDateTaken(shortPath, newDateTaken);
        ogDateTaken = newDateTaken;
    }

    private static void RenameFile()
    {
        //Error occured
        if (C.RenameFile(shortPath, newFilename, Path.GetExtension(shortPath), ogDateTaken) == "")
        {
            filenameErrorVis = "visible";
            filenameErrorText = "A file with the same DateTaken and name already exists.";
        }
        else
        {
            editFilenameDivVis = "hidden";
        }

    }

    private void ChangeImage(KeyboardEventArgs e)
    {
        if (e.Code == "KeyB")
        {
            navigationManager.NavigateTo(ReturnPath, true);
            return;
        }
        
        if (!e.AltKey && e.Code == "ArrowLeft" && index - 1 > 0)
        {
            id = MediaList[index - 1].uuid.ToString();
            navigationManager.NavigateTo($"{Page}/{id}", true); //True makes this actually work
        }
        else if (!e.AltKey && e.Code == "ArrowRight" && index + 1 < MediaList.Count)
        {
            id = MediaList[index + 1].uuid.ToString();
            navigationManager.NavigateTo($"{Page}/{id}", true);
        }
    }
}