@page "/search"

<title>Search - MM</title>

<TextInput @ref="@searchInput" @bind-Input="@searchText" OnKeyDown="@(e => { if (e.Code is "Enter" or "NumpadEnter") SearchLibrary(); })" OnFocusOut="@SearchLibrary" Placeholder="Search filenames" Style="width: 250px; position: fixed; left: 45%; top: 18px; z-index: 9999"/>

<KeyboardShortcuts Slash="@(() => searchInput.Focus())"/>

<LibraryContentViewer @ref="@lcv" NoItemsText="No Items Found" Where="@($"path ILIKE '{(String.IsNullOrWhiteSpace(searchText) ? "" : $"%{searchText}%")}'")" PersistentHeader="true"/>

@code {
     private LibraryContentViewer lcv = null!;
     private TextInput searchInput = null!;
     private string searchText = "";

     private void SearchLibrary()
     {
         StateHasChanged();
         lcv.Reset();
     }
}