@page "/maintenance/missing-files"

<title>Missing Files — Maintenance - MM</title>
<link href="css/maintenance/MissingFiles.css" rel="stylesheet">

<header>
    <button class="textBtn" @onclick="@DeleteMissingPaths">
        <svg width="24px" height="24px" class="material-icons" style="fill: white;" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg>
        <span>Delete All Paths From DB</span>
    </button>
</header>

<div id="mainDiv">
    @foreach (MediaRow row in mediaMissingItems)
    {
        <div class="missingItem">
            <div class="thumbnail"><img src="data:image/jpg;base64,@row.thumbnail" alt=""></div>
            <div class="info">
                <span>@row.path</span>
                <span>DT: @row.dateTaken</span>
                <span>DA: @row.dateAdded</span>
                <span>Star: @row.starred</span>
                <span>@row.uuid</span>
                <span>Separate: @row.separate</span>
                <span>Description: @row.description</span>
            </div>
        </div>
    }
</div>

@code{
    private List<MediaRow> mediaMissingItems = null!;

    protected override void OnInitialized() => mediaMissingItems = M.GetMediaMissingFiles();

    private void DeleteMissingPaths()
    {
        M.RemoveMediaMissingFiles(mediaMissingItems);
        mediaMissingItems.Clear();
    }
}