@page "/maintenance/missing-files"

<title>Missing Files — Maintenance - MM</title>
<link href="css/maintenance/MissingFiles.css" rel="stylesheet"/>

<header>
    <IconTextButton Icon="trash" Text="Delete All Paths From DB" OnClick="@DeleteMissingPaths"/>
</header>

<div id="mainDiv">
    @foreach (MediaRow row in mediaMissingItems)
    {
        <div class="missingItem">
            <div class="thumbnail"><img src="data:image/jpg;base64,@row.thumbnail" alt=""></div>
            <div class="info">
                <span>@row.path</span>
                <span>DT: @row.dateTaken</span>
                <span>DA: @row.dateAdded</span>
                <span>Star: @row.starred</span>
                <span>@row.uuid</span>
                <span>Separate: @row.separate</span>
                <span>Description: @row.description</span>
            </div>
        </div>
    }
</div>

@code {
    private readonly List<MediaRow> mediaMissingItems = M.GetMediaMissingFiles();

    private void DeleteMissingPaths()
    {
        M.RemoveMediaMissingFiles(mediaMissingItems);
        mediaMissingItems.Clear();
    }
}