@using MemoryMosaic.Pages

<div class="importItem" @onclick="@(mouseArgs => { if (mouseArgs.CtrlKey) CheckClicked(mouseArgs); })">
	<Checkbox Input="@Checked" EventArgsOnClick="@CheckClicked" Style="@($"visibility: {(Checked ? "visible" : "hidden")}")"/>

	<img src="data:image/jpg;base64,@ImportItem.Thumbnail" alt="" loading="lazy"/>
	
	@if (!EditingFilename)
	{
		<span @onclick="@EnableRename" class="@Import.PathWidth">@ImportItem.Path</span>
	}

	@if (EditingFilename)
	{
		<TextInput @bind-Input="@ImportItem.NewFilename" Width="250px"/>
		<IconButton Icon="save" OnClick="@RenameItem"/>
		<IconButton Icon="close" OnClick="@CancelRenaming"/>
	}

	<div class="dateTakenDisplay">
		@if (ImportItem.DateTakenSource == DateTakenSource.Custom)
		{
			<span>C: @(ImportItem.CustomDateTaken == null ? "No Date Taken" : ImportItem.CustomDateTaken)</span>
		}
		else if (ImportItem.MetadataDateTaken == null && ImportItem.FilenameDateTaken == null || ImportItem.DateTakenSource == DateTakenSource.None)
		{
			<span>No Date Taken</span>
		}
		else if (ImportItem.MetadataDateTaken == ImportItem.FilenameDateTaken)
		{
			<span>M & F: @ImportItem.MetadataDateTaken</span>
		}
		else
		{
			if (ImportItem.MetadataDateTaken != null)
			{
				<span style="@(ImportItem.DateTakenSource == DateTakenSource.Metadata ? "color: #0080ff" : "")">M: @ImportItem.MetadataDateTaken</span>
			}
			if (ImportItem.FilenameDateTaken != null)
			{
				<span style="@(ImportItem.DateTakenSource == DateTakenSource.Filename ? "color: #0080ff" : "")">M: @ImportItem.FilenameDateTaken</span>
			}
		}
	</div>

	@if (ImportItem.Collections != null)
	{
		<div class="collections">
			@foreach (Collection collection in ImportItem.Collections)
			{
				<span title="@collection.Id" @onclick="@(() => ImportItem.Collections.RemoveWhere(c => c.Id == collection.Id))">@collection.Name</span>
			}
		</div>
	}

	<select @bind="@ImportItem.DateTakenSource" @bind:after="@Import.Rerender">
		@if (ImportItem.MetadataDateTaken != null)
		{
			<option>Metadata</option>
		}
		@if (ImportItem.FilenameDateTaken != null)
		{
			<option>Filename</option>
		}
		<option>None</option>
		<option>Custom</option>
	</select>

	@if (ImportItem.DateTakenSource == DateTakenSource.Metadata && ImportItem.MetadataDateTaken?.Year < Import.MinYear)
	{
		<span>M Year is less than the min year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Filename && ImportItem.FilenameDateTaken?.Year < Import.MinYear)
	{
		<span>F Year is less than the min year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Metadata && ImportItem.MetadataDateTaken?.Year > Import.MaxYear)
	{
		<span>M Year is greater than the max year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Filename && ImportItem.FilenameDateTaken?.Year > Import.MaxYear)
	{
		<span>F Year is greater than the max year</span>
	}

	@if (ImportItem.DateTakenSource == DateTakenSource.Custom)
	{
		<input type="datetime-local" @bind="@ImportItem.CustomDateTaken" @bind:after="@Import.Rerender" step="1"/>
	}

	<IconButton Icon="@(ImportItem.Starred ? "star" : "star_outline")" Class="starBtn" Style="@($"display: {(ImportItem.Starred ? "flex" : "none")}")" OnClick="@ToggleStarred"/>

	<textarea style="display: @(String.IsNullOrWhiteSpace(ImportItem.Description) ? "none" : "inline")" @bind="@ImportItem.Description" placeholder="Description"></textarea>
	
	@if (Import.DestinationPathsVisible)
	{
		<span>@ImportItem.DestinationPath</span>
	}
</div>

@code {
	[Parameter, EditorRequired]
	public required Import Import { get; set; }

	[Parameter, EditorRequired]
	public required ImportItem ImportItem { get; set; }

	[Parameter, EditorRequired]
	public int Index { get; set; }

	private bool editingFilename;
	private bool EditingFilename
	{
		get => editingFilename;
		set
		{
			Import.EditingFilename = editingFilename = value;
			Import.Rerender();
		}
	}

	private bool Checked => Import.SelectedItems.Contains(ImportItem.Id);
}

@functions {
	private void CheckClicked(MouseEventArgs e)
	{
		if (e.ShiftKey)
			Import.ChangeRangeState(Import.LastCheckedIndex, Index);
		else
			ToggleSelected();

		Import.Rerender();
		StateHasChanged();
	}

	private void ToggleSelected()
	{
		if (Import.SelectedItems.Contains(ImportItem.Id))
			Import.SelectedItems.Remove(ImportItem.Id);
		else
			Import.SelectedItems.Add(ImportItem.Id);

		Import.LastCheckedIndex = Index;
	}

	private void ToggleStarred()
	{
		ImportItem.Starred = !ImportItem.Starred;
		StateHasChanged();
	}

	private void EnableRename()
	{
		EditingFilename = true;
		Import.Rerender();
	}

	private void RenameItem()
	{
		EditingFilename = false;
		Import.Rerender();
	}
	
	private void CancelRenaming()
	{
		EditingFilename = false;
		ImportItem.NewFilename = ImportItem.OriginalFilename;
	}
}