@using MemoryMosaic.Pages
<link href="css/Components/Import/ImportItemDisplay.css" rel="stylesheet"/>

<div class="importItem">
	<Checkbox/>

	<img src="data:image/jpg;base64,@ImportItem.Thumbnail" alt="" loading="lazy"/>
	<span class="@Import.PathWidth">@ImportItem.Path.Substring(1)</span>

	@if (filenameEditVisible)
	{
		<TextInput bind-Input="@ImportItem.NewFilename"/>
		<IconButton Icon="save"/>
		<IconButton Icon="close"/>
	}

	<div class="dateTakenDisplay">
		@if (ImportItem.DateTakenSource == DateTakenSource.Custom)
		{
			<span>C: @(ImportItem.CustomDateTaken == null ? "No Date Taken" : ImportItem.CustomDateTaken)</span>
		}
		else if (ImportItem.MetadataDateTaken == null && ImportItem.FilenameDateTaken == null || ImportItem.DateTakenSource == DateTakenSource.None)
		{
			<span>No Date Taken</span>
		}
		else if (ImportItem.MetadataDateTaken == ImportItem.FilenameDateTaken)
		{
			<span>M & F: @ImportItem.MetadataDateTaken</span>
		}
		else
		{
			if (ImportItem.MetadataDateTaken != null)
			{
				<span>M: @ImportItem.MetadataDateTaken</span>
			}
			if (ImportItem.FilenameDateTaken != null)
			{
				<span>F: @ImportItem.FilenameDateTaken</span>
			}
		}
	</div>

	<select @bind="@ImportItem.DateTakenSource">
		@if (ImportItem.MetadataDateTaken != null)
		{
			<option>Metadata</option>
		}
		@if (ImportItem.FilenameDateTaken != null)
		{
			<option>Filename</option>
		}
		<option>None</option>
		<option>Custom</option>
	</select>

	@if (ImportItem.Collections != null)
	{
		<div class="collections">
			@foreach (Collection collection in ImportItem.Collections)
			{
				<span title="@collection.Id" @onclick="@(() => ImportItem.Collections.RemoveWhere(c => c.Id == collection.Id))">@collection.Name</span>
			}
		</div>
	}

	@if (ImportItem.DateTakenSource == DateTakenSource.Metadata && ImportItem.MetadataDateTaken?.Year < Import.MinYear)
	{
		<span>M Year is less than the min year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Filename && ImportItem.FilenameDateTaken?.Year < Import.MinYear)
	{
		<span>F Year is less than the min year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Metadata && ImportItem.MetadataDateTaken?.Year > Import.MaxYear)
	{
		<span>M Year is greater than the max year</span>
	}
	@if (ImportItem.DateTakenSource == DateTakenSource.Filename && ImportItem.FilenameDateTaken?.Year > Import.MaxYear)
	{
		<span>F Year is greater than the max year</span>
	}

	<IconButton Icon="@(ImportItem.Starred ? "star" : "star_outline")" Class="starBtn" OnClick="@ToggleStarred"/>

	<textarea @bind="@ImportItem.Description" placeholder="Description"></textarea>
</div>

@code {
	[Parameter, EditorRequired]
	public required Import Import { get; set; }

	[Parameter, EditorRequired]
	public required ImportItem ImportItem { get; set; }

	private bool filenameEditVisible;
}

@functions {
	private void ToggleStarred()
	{
		ImportItem.Starred = !ImportItem.Starred;
		StateHasChanged();
	}
}
