@using MemoryMosaic.Pages

<div class="libraryItem">
	<img src="data:image/jpg;base64,@LibraryItem.Thumbnail" alt="" loading="lazy"/>
	<span class="@Import.PathWidth">@("Library/" + LibraryItem.Path)</span>
	
	<div class="dateDisplay">
		<span>DT: @(LibraryItem.DateTaken == null ? "No Date Taken" : LibraryItem.DateTaken)</span>
		<span>DA: @LibraryItem.DateAdded</span>
	</div>
	
	<span>@(LibraryItem.DateDeleted != null ? "In Trash" : "")</span>
	<IconButton Icon="trash" OnClick="@DeleteBtnClick"/>
</div>

@code {
	[Parameter, EditorRequired] public Import Import { get; set; } = null!;
	
	[Parameter, EditorRequired] public LibraryItem LibraryItem { get; set; } = null!;

	private void DeleteBtnClick()
	{
		if (LibraryItem.DateDeleted == null)
			C.MoveToTrash(LibraryItem.Id);
		C.RemoveFromTrash(LibraryItem);
		Import.LibraryCache.Remove(LibraryItem.Path);
		Import.Rerender();
	}
}