@inherits ItemDisplay<LibraryItem>
@using MemoryMosaic.Pages

<div class="libraryItem" @onclick="@(e => { if (e.AltKey) ThumbnailClicked(); })">
	<img src="data:image/jpg;base64,@Item.Thumbnail" alt="" @onclick="@ThumbnailClicked" loading="lazy"/>
	<span class="@PathWidth @TextClass">@("Library/" + Item.Path)</span>
	
	<div class="dateDisplay">
		<span>DT: @(Item.DateTaken == null ? "No Date Taken" : Item.DateTaken)</span>
		<span>DA: @Item.DateAdded</span>
	</div>
	
	@if (Import.DisplayFileSizes)
	{
		<span>@F.FormatBytes(Item.Size)</span>
	}
	
	<span>@(Item.DateDeleted != null ? "In Trash" : "")</span>
	<IconButton Icon="trash" OnClick="@DeleteBtnClick"/>
</div>

@code {
	private void DeleteBtnClick()
	{
		if (Item.DateDeleted == null)
			D.MoveToTrash(Item.Id);
		D.RemoveFromTrash(Item);
		Import.LibraryCache.Remove(Item.Path);
		Import.Rerender();
	}
}