@using MemoryMosaic.Pages
<link href="css/components/LibraryItem.css" rel="stylesheet"/>

<div class="libraryItem">
	<MaterialIcon Icon="check_circle" Class="checkbox unchecked"/>
	<img src="data:image/jpg;base64,@MediaRow.thumbnail" onclick="window.open('mm_library/@MediaRow.path', '_blank').focus();" alt="" loading="lazy"/>
	<span class="shortPath @(Import.pathWidthClass == "shortWidth" ? "shortWidth" : "fullWidth")">@("Library/" + MediaRow.path)</span>
	<span class="dateTaken">@(MediaRow.dateTaken == null ? "No Date Taken" : MediaRow.dateTaken)</span>
	<span class="inTrash">@(MediaRow.dateDeleted != null ? "In Trash" : "")</span>
	<IconButton Icon="trash" OnClick="@DeleteBtnClick"/>
</div>

@code {

	[Parameter, EditorRequired] public MediaRow MediaRow { get; set; } = null!;

	[Parameter, EditorRequired] public Action Rerender { get; set; } = null!;

	private void DeleteBtnClick()
	{
		if (MediaRow.dateDeleted == null)
			C.MoveToTrash(MediaRow.uuid);
		C.PermDeleteItem(MediaRow.uuid);
		Import.OrganizeItems();
		Rerender.Invoke();
	}
}