@* Re-usable component for allowing user to choose the date taken they want LCV to start at. *@
@inherits ToggleableComponent
<link href="css/components/CtrlGInput.css" rel="stylesheet"/>

<div id="ctrlGBackground" style="@Visibility.Style">
	<div id="ctrlGInput">
		<span>Choose New Starting Date Taken:</span>
		
		<div>
			<input type="date" @bind="@NewStartDate"/>
			<button class="iconBtn" @onclick="@(() => { Disable(); StartDateChanged.Invoke(); })"><span class="material-icons-outlined">check</span></button>
			<button class="iconBtn" @onclick="@Disable"><span class="material-icons-outlined">close</span></button>
		</div>
	</div>
</div>

<KeyboardShortcuts CtrlG="@Enable"/>

@code {
	[Parameter, EditorRequired]
	public Action StartDateChanged { get; set; } = null!;
	
	public DateTime NewStartDate { get; private set; } = DateTime.Today;
}