<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="centeredDiv">
                <h1 class="whiteText">404. That's an error.</h1>
                <p class="whiteText">The requested URL was not found.</p>
                <a style="font-family: 'Product Sans'; color: rgb(2, 97, 255) " href="/"> Click me to go to the home page.</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
