@* Re-usable component for allowing user to choose the date taken they want LCV to start at. *@
@inherits ToggleableComponent
<link href="css/Components/LibraryContentViewer/CtrlGInput.css" rel="stylesheet"/>

<ModalBackground Visibility="@Visibility">
	<div id="ctrlGInput">
		<span>Pick New Starting Date Taken</span>
		
		<div>
			<input type="date" @bind="@NewStartDate" @onkeydown="@(args => { if (args.Key == "Enter") ConfirmClicked(); })"/>
			<IconButton Icon="check" OnClick="@ConfirmClicked"/>
			<IconButton Icon="close" OnClick="@CloseClicked"/>
		</div>
	</div>
</ModalBackground>

<KeyboardShortcuts CtrlG="@(() => { NewStartDate = DateTime.Now; Enable(); })"/>

@code {
	[Parameter, EditorRequired]
	public Action StartDateChanged { get; set; } = null!;
	
	public DateTime? NewStartDate { get; private set; }

	private void ConfirmClicked()
	{
		Disable();
		StartDateChanged.Invoke();
	}

	private void CloseClicked()
	{
		Disable();
		NewStartDate = null;
	}
}