<div class="thumbnail" @onclick="@(eventArgs => OnClick.Invoke(eventArgs, Index))">
	@if (Item.Starred) { <MaterialIcon Icon="star" Class="star-icon"/> }
	@if (Item.Video) { <MaterialIcon Icon="play_circle_outline" Class="video-icon"/> }
	<Checkbox Input="@Parent.SelectedItems.Contains(Item.Id)" OnChange="@CheckClicked"/>
	<img src="data:image/jpg;base64,@Item.Thumbnail" alt="@Item.Path" @onclick="@ImgClicked" loading="lazy"/>
</div>

@code {
	[Parameter, EditorRequired]
	public required LibraryItem Item { get; set; }
	
	[Parameter, EditorRequired]
	public required LibraryContentViewer Parent { get; set; }
	
	[Parameter, EditorRequired]
	public required int Index { get; set; }
	
	[Parameter, EditorRequired]
	public required Action<MouseEventArgs, int> OnClick { get; set; }
}

@functions {
	private void ToggleSelected()
	{
		if (Parent.SelectedItems.Contains(Item.Id))
			Parent.SelectedItems.Remove(Item.Id);
		else
			Parent.SelectedItems.Add(Item.Id);

		Parent.Rerender();
	}
	
	private void CheckClicked()
	{
		ToggleSelected();
	}

	private void ImgClicked(MouseEventArgs eventArgs)
	{
		if (Parent.SelectedItems.Count > 0 || eventArgs.CtrlKey)
			CheckClicked();
	}
}
