@* Show all collections and allow user to sort them and make new ones *@
@page "/collections"

<title>Collections - MemoryMosaic</title>
<link href="css/Pages/Collections.css" rel="stylesheet"/>

<header>
    <span id="collectionsText">Collections</span>
    <CollectionCreator @ref="@collectionCreator" Collections="@collections" OnCollectionCreate="@GetCollectionsTable"/>
    
    <div id="checkboxes">
        <Checkbox @bind-Input="@showAlbums" Label="Show Albums" OnChange="@GetCollectionsTable"/>
        <Checkbox @bind-Input="@showFolders" Label="Show Folders" OnChange="@GetCollectionsTable"/>
        <Checkbox @bind-Input="@showReadonly" Label="Show Readonly" OnChange="@GetCollectionsTable"/>
    </div>

    <IconTextButton ID="sortBtn" Icon="sort" Text="@sortBtnText" OnClick="@(() => dropdown.Toggle())"/>
</header>

<Dropdown @ref="@dropdown" Positioning="top: 64px; right: 100px">
    <DropdownButton Icon="check" Text="Collection Title" OnClick="@(() => ChangeOrder(CollectionsSortMode.Title))" IconStyle="@(sortMode == CollectionsSortMode.Title ? "color: #0080ff" : "visibility: hidden")" TextColor="@(sortMode == CollectionsSortMode.Title ? "#0080ff" : "white")"/>
    <DropdownButton Icon="check" Text="Title Reversed" OnClick="@(() => ChangeOrder(CollectionsSortMode.TitleReversed))" IconStyle="@(sortMode == CollectionsSortMode.TitleReversed ? "color: #0080ff" : "visibility: hidden")" TextColor="@(sortMode == CollectionsSortMode.TitleReversed ? "#0080ff" : "white")"/>
    <DropdownButton Icon="check" Text="Last Modified" OnClick="@(() => ChangeOrder(CollectionsSortMode.LastModified))" IconStyle="@(sortMode == CollectionsSortMode.LastModified ? "color: #0080ff" : "visibility: hidden")" TextColor="@(sortMode == CollectionsSortMode.LastModified ? "#0080ff" : "white")"/>
    <DropdownButton Icon="check" Text="Last Modified Reversed" OnClick="@(() => ChangeOrder(CollectionsSortMode.LastModifiedReversed))" IconStyle="@(sortMode == CollectionsSortMode.LastModifiedReversed ? "color: #0080ff" : "visibility: hidden")" TextColor="@(sortMode == CollectionsSortMode.LastModifiedReversed ? "#0080ff" : "white")"/>
</Dropdown>

<main>
    @foreach (Collection collection in collections)
    {
        <a href="/collection-view/@collection.Id">
            <div>
                @if (!String.IsNullOrWhiteSpace(collection.Cover))
                {
                    <img src="mm_library/@collection.Cover" alt=""/>
                }
            </div>
            <span>@collection.Name</span>
        </a>
    }
</main>

@code {
    private List<Collection> collections = null!;

    private CollectionCreator collectionCreator = null!;

    private Dropdown dropdown = null!;
    
    private string sortBtnText = null!;
    private static CollectionsSortMode sortMode = CollectionsSortMode.LastModified;
    private static bool showAlbums = true, showFolders, showReadonly = true;

    protected override void OnInitialized()
    {
        GetCollectionsTable();
        SetSortBtnText();
    }

    private void GetCollectionsTable()
    {
        collections = C.GetCollectionsTable(showAlbums, showFolders, showReadonly, sortMode);
        StateHasChanged();
    }

    private void SetSortBtnText()
    {
        sortBtnText = sortMode switch
        {
            CollectionsSortMode.Title => "Collection Title",
            CollectionsSortMode.TitleReversed => "Title Reversed",
            CollectionsSortMode.LastModified => "Last Modified",
            CollectionsSortMode.LastModifiedReversed => "Last Modified Reversed",
            _ => "Collection Title"
        };
    }

    private void ChangeOrder(CollectionsSortMode newMode)
    {
        sortMode = newMode;
        GetCollectionsTable();
        SetSortBtnText();
        dropdown.Disable();
    }
}