@page "/import"
@using System.Collections.Immutable

<title>Import - MemoryMosaic</title>
<link href="css/Pages/Import.css" rel="stylesheet"/>
<link href="css/Components/Import/ImportItemDisplay.css" rel="stylesheet"/>
<link href="css/Components/Import/LibraryItemDisplay.css" rel="stylesheet"/>

@if (importItems.Count == 0)
{
	<h1>No supported files found in mm_import.</h1>
	return;
}

<header>
	@if (SelectedItems.Count > 0)
	{
		<IconButton Icon="close" OnClick="@ClearSelection"/>
		<span>@SelectedItems.Count&nbsp;&nbsp;Selected</span>
	}
	
	<div id="stats">
		@if (ErrorAmount > 0)
		{
			<span style="color: red">@ErrorAmount @(ErrorAmount == 1 ? "Error" : "Errors")</span>
		}
	</div>
	
	@if (ErrorAmount == 0 && !EditingFilename)
	{
		<IconTextButton Icon="library_add" Text="@AddBtnText" OnClick="@AddItems"/>
	}
	
	<div>
		@if (SelectedItems.Count > 0)
		{
			var items = importItems.Where(item => SelectedItems.Contains(item.Id)).ToImmutableArray();
			bool canDisplayMetadata = items.All(item => item.MetadataDateTaken != null);
			bool canDisplayFilename = items.All(item => item.FilenameDateTaken != null);
			
			<select @bind="@newDateTakenSource">
				@if (canDisplayMetadata) { <option>Metadata</option> }
				@if (canDisplayFilename) { <option>Filename</option> }
				<option>None</option>
				<option>Custom</option>
			</select>
			
			<IconButton Icon="save" OnClick="@UpdateDateTakenSources"/>
			<IconButton Icon="star" OnClick="@ToggleStars"/>
			<IconButton Icon="trash" OnClick="@DeleteSelected" Title="Delete Selected From mm_import"/>
		}
		
		<IconButton Icon="more_vert" OnClick="@(() => moreOptions.Toggle())"/>
		
		<Dropdown @ref="@moreOptions" Positioning="top: 64px; right: 40px">
			<div>
				<span>Min Year</span>
				<IntInput @bind-Input="@MinYear" HideSpinner="true" Placeholder="Min Year" Style="width: 40px; margin-left: 8px"/>
			</div>
			
			<div>
				<span>Max Year</span>
				<IntInput @bind-Input="@MaxYear" HideSpinner="true" Placeholder="Max Year" Style="width: 40px; margin-left: 8px"/>
			</div>
			
			<Checkbox @bind-Input="@displayWarnings" Label="Display Warnings" Title="Warnings are files with the same name but in a different folder."/>
		</Dropdown>
	</div>
</header>

<main>
	@{
		int index = 0;
		foreach (var group in importItems.GroupBy(item => item.DestinationPath))
		{
			var existingItems = LibraryCache.Values.Where(libraryItem => group.Any(importItem => importItem.DestinationPath == libraryItem.Path)).ToImmutableArray();
			
			var warnings = displayWarnings
				? LibraryCache.Values.Where(libraryItem => group.Any(importItem => importItem.NewFilename == libraryItem.FilenameWithoutExtension)).ToImmutableArray()
				: ImmutableArray<LibraryItem>.Empty;

			if (group.Count() > 1 || existingItems.Any())
			{
				<div class="container" style="border-color: red">
					@foreach (var importItem in group)
					{
						<ImportItemDisplay Import="@this" ImportItem="@importItem" Index="@index" HasErrors="true"/>
						index++;
					}
					
					@foreach (var libraryItem in existingItems)
					{
						<LibraryItemDisplay Import="@this" LibraryItem="@libraryItem"/>
					}
				</div>
			}

			if (!existingItems.Any() && warnings.Any())
			{
				<div class="container" style="border-color: yellow">
					@foreach (var importItem in group)
					{
						<ImportItemDisplay Import="@this" ImportItem="@importItem" Index="@index"/>
						index++;
					}
					
					@foreach (var libraryItem in warnings)
					{
						<LibraryItemDisplay Import="@this" LibraryItem="@libraryItem"/>
					}
				</div>
			}
			
			if (group.Count() == 1 && !existingItems.Any() && !warnings.Any())
			{
				<ImportItemDisplay Import="@this" ImportItem="@group.First()" Index="@index"/>
				index++;
			}
		}
	}
</main>

<CollectionSelector @ref="@cs" OnCheckClicked="@UpdateCollections" SelectedItems="@SelectedItems" ClearSelectedOnConfirm="false"/>

@* <FullscreenViewer @ref="@fv" T="@Media" CollectionSelector="@cs" RerenderParent="@StateHasChanged" Content="" DisplayItemType="true"/> *@

<KeyboardShortcuts CtrlA="@(() => ChangeRangeState(0, importItems.Count - 1))" AltS="@TogglePathWidth" AltD="@ToggleDestinationPaths" Del="@DeleteSelected" Esc="@ClearSelection"/>