@page "/starred"

<title>Starred - MemoryMosaic</title>
<link href="css/IndexStarredNoDT.css" rel="stylesheet"/>

@{
    <header>
        <div id="buttons" style="visibility: @headerVis">
            <button class="iconBtn"><span class="material-icons-outlined" @onclick="@libContentViewer.DownloadSelected">file_download</span></button>
            <button class="iconBtn" @onclick="@(() => F.VisToggle(ref collectionsVis))"><span class="material-icons-outlined">collections</span></button>
            <button class="iconBtn" title="Remove Stars From Selected" @onclick="@(() => libContentViewer.UpdateStars(false))"><span class="material-icons-outlined">star_outline</span></button>
            <button class="iconBtn" @onclick="@libContentViewer.DeleteBtnClick"><svg width="24px" height="24px" class="material-icons" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
        </div>
        <button class="iconBtn" style="visibility: @headerVis" @onclick="@libContentViewer.ClearChecks"><span class="material-icons-outlined">close</span></button>
        <span style="visibility: @headerVis" id="selectedAmtText">@selectedItemsCount&nbsp;&nbsp;Selected</span>
        <span id="starredText">Starred</span>
    </header>

    const string topQuery = "SELECT path, date_taken, date_added, starred, uuid, thumbnail, description FROM media WHERE starred = true AND date_deleted IS NULL AND date_taken >= @oldestOrNewestDT ORDER BY date_taken ASC LIMIT 100";
    const string bottomQuery = "SELECT path, date_taken, date_added, starred, uuid, thumbnail, description FROM media WHERE starred = true AND date_deleted IS NULL AND date_taken <= @oldestOrNewestDT ORDER BY date_taken DESC LIMIT 100";
    <LibraryContentViewer @ref="@libContentViewer" @bind-HeaderVis="@headerVis" @bind-SelectedItemsCount="@selectedItemsCount" NotNullDTQueryTop="@topQuery" NotNullDTQueryBottom="@bottomQuery" NoItemsText="Items Marked As Starred and with a Date Taken Appear Here"
                          FirstQuery="SELECT path, date_taken, date_added, starred, uuid, thumbnail, description FROM media WHERE starred = true AND date_deleted IS NULL AND date_taken IS NOT NULL ORDER BY date_taken DESC LIMIT 100"/>
    
    <CollectionSelector SelectedItems="@libContentViewer.SelectedItems" @bind-HeaderVis="@headerVis" @bind-CollectionsVis="@collectionsVis"/>

    <KeyboardShortcuts AltC="@(() => { F.VisToggle(ref collectionsVis); StateHasChanged(); })" />
}

@code {
    private LibraryContentViewer libContentViewer = new();
    private int selectedItemsCount;
    private string headerVis = "hidden", collectionsVis = "hidden";
}