@page "/albums"
@using static PSS.Backend.Connection

<link href="css/AlbumsMain.css" rel="stylesheet">

<header>
    <span id="albumsText">Albums</span>
    <button @onclick="NewAlbumBtnClick" id="@newAlbumBtnId"><span class="material-icons-outlined">@newAlbumBtnIcon</span><span class="btnText">@newAlbumBtnText</span></button>
    <input type="text" placeholder="Enter new album name" @bind="newAlbumName" style="display: @albumInputDisplay"/>
    <button @onclick="ConfirmBtnClick" style="display: @confirmBtnDisplay" id="confirmBtn"><span class="material-icons-outlined">check</span><span class="btnText">Confirm</span></button>
    <button id="sortBtn" @onclick="SortBtnClick"><span class="material-icons-outlined">sort</span><span class="btnText">@sortBtnText</span></button>

    <div id="sortDiv"> @* This is ugly but I think it works well *@
        <button @onclick="@(() => mode = SortMode.Title)">
            <span class="material-icons-outlined" style="@(mode == SortMode.Title ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span class="btnText" style="color: @(mode == SortMode.Title ? "#1a73e8" : "white")">Album Title</span>
        </button>
        <button @onclick="@(() => mode = SortMode.TitleReversed)">
            <span class="material-icons-outlined" style="@(mode == SortMode.TitleReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span class="btnText" style="color: @(mode == SortMode.TitleReversed ? "#1a73e8" : "white")">Album Title Reversed</span>
        </button>
        <button @onclick="@(() => mode = SortMode.LastModified)">
            <span class="material-icons-outlined" style="@(mode == SortMode.LastModified ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span class="btnText" style="color: @(mode == SortMode.LastModified ? "#1a73e8" : "white")">Last Modified</span>
        </button>
        <button @onclick="@(() => mode = SortMode.LastModifiedReversed)">
            <span class="material-icons-outlined" style="@(mode == SortMode.LastModifiedReversed ? "color: #1a73e8" : "visibility: hidden")">check</span>
            <span class="btnText" style="color: @(mode == SortMode.LastModifiedReversed ? "#1a73e8" : "white")">Last Modified Reversed</span>
        </button>
    </div>
</header>

<div id="mainDiv">
    @foreach (Album album in albums)
    { 
        <div class="album"> @*Text and album thumbnail*@
            <div class="thumbnail"> @*img and 3 dots*@
                <img src="@PSS.Settings.requestPath/@album.albumCover" alt=""/>
                <button class="dotsBtn"><span class="material-icons-outlined">more_vert</span></button>
            </div>
            <span class="albumName">@album.name</span>
        </div>
    }
</div>

@code
{
    private static List<Album> albums;
    private static string newAlbumBtnIcon;
    private static string newAlbumBtnText;
    private static string newAlbumBtnId;
    private static string newAlbumName;
    private static string albumInputDisplay;
    private static string confirmBtnDisplay;
    private static string sortBtnText;
    private static SortMode mode;

    private enum SortMode
    {
        Title,
        TitleReversed,
        LastModified,
        LastModifiedReversed
    }

    protected override void OnInitialized()
    {
        albums = GetAlbumsTable();
        newAlbumBtnIcon = "library_add";
        newAlbumBtnText = "New Album";
        newAlbumBtnId = "newAlbumBtn";
        albumInputDisplay = "none";
        confirmBtnDisplay = "none";
        sortBtnText = "Last Modified";
        mode = SortMode.Title; //Default sort mode
    }

    private static void NewAlbumBtnClick()
    {
        if (newAlbumBtnText == "New Album")
        {
            newAlbumBtnId = "cancelBtn";
            newAlbumBtnIcon = "close";
            newAlbumBtnText = "Cancel";
            albumInputDisplay = "inline";
            confirmBtnDisplay = "flex";
        }
        else if (newAlbumBtnText == "Cancel")
        {
            newAlbumBtnId = "newAlbumBtn";
            newAlbumBtnIcon = "library_add";
            newAlbumBtnText = "New Album";
            albumInputDisplay = "none";
            confirmBtnDisplay = "none";
        }
    }

    private static void ConfirmBtnClick()
    {
        newAlbumBtnIcon = "library_add";
        newAlbumBtnText = "New Album";
        newAlbumBtnId = "newAlbumBtn";
        albumInputDisplay = "none";
        confirmBtnDisplay = "none";

    //TODO: test for "" and duplicate album name on input...
        CreateAlbum(newAlbumName);
        albums = GetAlbumsTable();
        newAlbumName = ""; //Reset for next time
    }

    private static void SortBtnClick()
    {
    }
}