@page "/albums"
@using static PSS.Backend.Connection

<link href="css/AlbumsMain.css" rel="stylesheet">

<header>
    <span id="albumsText">Albums</span>
    @* <button id="newAlbumBtn"><span class="material-icons-outlined">library_add</span><span class="btnText">New Album</span></button> *@
    
    <button @onclick="NewAlbumBtnClick" id="@newAlbumBtnId">
        <span class="material-icons-outlined">@newAlbumBtnIcon</span><span class="btnText">@newAlbumBtnText</span>
    </button>

    <input type="text" placeholder="Enter new album name" @bind="newAlbumName" style="display: @albumInputDisplay"/>
    
    <button @onclick="ConfirmBtnClick" style="display: @confirmBtnDisplay" id="confirmBtn">
        <span class="material-icons-outlined">check</span><span class="btnText">Confirm</span>
    </button>
    
    <button id="sortBtn"><span class="material-icons-outlined">sort</span><span class="btnText">Last Modified</span></button>
</header>

<div id="mainDiv">
    @foreach (Album album in albums)
    { 
        <div class="album"> @*Text and album thumbnail*@
            <div class="thumbnail"> @*img and 3 dots*@
                <img src="@PSS.Settings.requestPath/@album.albumCover" alt=""/>
                <button class="dotsBtn"><span class="material-icons-outlined">more_vert</span></button>
            </div>
            <span class="albumName">@album.name</span>
        </div>
    }
</div>

@code
{
    private static List<Album> albums;

    private static string newAlbumBtnIcon;
    private static string newAlbumBtnText;
    private static string newAlbumBtnId;
    private static string newAlbumName;
    private static string albumInputDisplay;
    private static string confirmBtnDisplay;

    protected override void OnInitialized()
    {
        albums = GetAlbumsTable();
        newAlbumBtnIcon = "library_add";
        newAlbumBtnText = "New Album";
        newAlbumBtnId = "newAlbumBtn";
        albumInputDisplay = "none";
        confirmBtnDisplay = "none";
    }

    private static void NewAlbumBtnClick()
    {
        if (newAlbumBtnText == "New Album")
        {
            newAlbumBtnId = "cancelBtn";
            newAlbumBtnIcon = "close";
            newAlbumBtnText = "Cancel";
            albumInputDisplay = "inline";
            confirmBtnDisplay = "flex";
        }
        else if (newAlbumBtnText == "Cancel")
        {
            newAlbumBtnId = "newAlbumBtn";
            newAlbumBtnIcon = "library_add";
            newAlbumBtnText = "New Album";
            albumInputDisplay = "none";
            confirmBtnDisplay = "none";
        }
    }
    
    private static void ConfirmBtnClick()
    {
        newAlbumBtnIcon = "library_add";
        newAlbumBtnText = "New Album";
        newAlbumBtnId = "newAlbumBtn";
        albumInputDisplay = "none";
        confirmBtnDisplay = "none";

        //TODO: test for "" and duplicate album name on input...
        CreateAlbum(newAlbumName);
        albums = GetAlbumsTable();
        newAlbumName = ""; //Reset for next time
    }
}