@page "/"
@inject NavigationManager navigationManager;
@using static PSS.Backend.Connection

<title>Photos</title>
<link href="css/Index.css" rel="stylesheet"/>

@{
    <header style="visibility: @headerVis">
        <button @onclick="DeleteBtnClick"><svg width="24px" height="24px" class="material-icons" style="fill: white;" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
        <button><span class="material-icons-outlined">perm_media</span></button>
        <button><span class="material-icons-outlined">archive</span></button>
        <button><span class="material-icons-outlined">star_outline</span></button>
        <button @onclick="@(() => albumsVis = "visible")"><span class="material-icons-outlined">collections</span></button>
        <span id="selectedAmtText" style="visibility: @headerVis">@selectedItems.Count selected</span>
        <button id="clearBtn" @onclick="ClearChecks"><span class="material-icons-outlined">close</span></button>
    </header>

    <AlbumSelector SelectedItems="@selectedItems" @bind-HeaderVis="@headerVis" @bind-AlbumsVis="@albumsVis"/>
    <TwoChoiceInput @bind-TwoChoiceVis="@choiceVis" YesBtnClick="@DeleteSelected" NoBtnClick="@CloseChoiceDiv" Message="@choiceMsg"/>

    if (mediaList.Count == 0)
    {
        <h1>Looks empty here...<br/>Upload some items to get started.</h1>
    }
    else
    {
        <div id="mainDiv">
            @foreach (MediaRow media in mediaList)
            {
                <div class="thumbnail">
                    <span @onclick="(() => ToggleCheck(media.path))" id="@media.path" class="material-icons unchecked">check_circle</span>
                    <img @onclick="() => ImgClicked(media.uuid.ToString(), media.path)" style="color: white" src="@PSS.Settings.requestPath/@media.path" alt="@PSS.Settings.requestPath/@media.path" loading="lazy"/>
                </div>
            }
        </div>
    }
}

@code {
    private static string headerVis;
    private static string albumsVis;
    private static List<MediaRow> mediaList;
    private static List<string> selectedItems; //Stores all items (paths) user selected. If unchecked, removed from list.

    private static string choiceVis;
    private static string choiceMsg;

    protected override void OnInitialized()
    {
        mediaList = LoadMediaTable();
        selectedItems = new List<string>(); //Reset on page load/refresh
        headerVis = "hidden";
        albumsVis = "hidden";
        choiceVis = "hidden";
    }

    [Inject] //https://code-maze.com/how-to-call-javascript-code-from-net-blazor-webassembly/
    public IJSRuntime JSRuntime { get; set; }

    private async Task ToggleCheck(string id) //id = string path
    {
        string newClass = await JSRuntime.InvokeAsync<string>("toggleCheck", id);
        if (newClass.Contains("unchecked"))
            selectedItems.Remove(id);
        else
            selectedItems.Add(id);

        headerVis = selectedItems.Count > 0 ? "visible" : "hidden";
    }

    private async Task ClearChecks()
    {
        foreach (string item in selectedItems)  
            await JSRuntime.InvokeAsync<string>("removeCheck", item);
        selectedItems.Clear();
        headerVis = "hidden";
        albumsVis = "hidden";
        choiceVis = "hidden";
    }
    
    private async Task ImgClicked(string uuid, string path)
    {
        if (selectedItems.Count > 0)
            await ToggleCheck(path);
        else
            navigationManager.NavigateTo($"/view/{uuid}");
    }
    
    //Show choice div
    private void DeleteBtnClick()
    {
        if (PSS.Settings.showPrompts == false)
        {
            DeleteSelected();
            return;
        }
        choiceVis = "visible";
        choiceMsg = selectedItems.Count > 1 ? "Delete Selected Items?" : "Delete Selected Item?";
    }

    private async void DeleteSelected()
    {
        foreach (string path in selectedItems.ToList()) //https://stackoverflow.com/a/604843
        {
            MoveToTrash(path);
            headerVis = "hidden";
        }
        await ClearChecks();
        mediaList = LoadMediaTable();
        StateHasChanged();
    }

    private void CloseChoiceDiv()
    {
        choiceVis = "hidden";
        StateHasChanged();
    }
}