@page "/"
@inject NavigationManager navigationManager;
@using static PSS.Backend.Connection

<title>Photos</title>
<link href="css/IndexAndStarred.css" rel="stylesheet"/>

@{
    <header style="visibility: @headerVis">
        <div id="buttons">
            <button @onclick="@(() => albumsVis = "visible")"><span class="material-icons-outlined">collections</span></button>
            <button title="Add or Remove Stars From Selected" @onclick="@(() => starChoiceVis = "visible")"><span class="material-icons-outlined">star_outline</span></button>
            <button><span class="material-icons-outlined">archive</span></button>
            <button><span class="material-icons-outlined">perm_media</span></button>
            <button @onclick="DeleteBtnClick"><svg width="24px" height="24px" class="material-icons" style="fill: white;" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
        </div>
        <button @onclick="ClearChecks"><span class="material-icons-outlined">close</span></button>
        <span id="selectedAmtText">@selectedItems.Count&nbsp;&nbsp;Selected</span>
    </header>
    <TwoChoiceInput YesBtnIcon="star" NoBtnIcon="star_outline" YesBtnText="Add" NoBtnText="Remove" @bind-TwoChoiceVis="@starChoiceVis" YesBtnClick="@(() => UpdateStars(true))" NoBtnClick="@(() => UpdateStars(false))" Message="@(selectedItems.Count > 1 ? "Add or remove stars for selected items?" : "Add or remove star for selected item?")"/>

    <AlbumSelector SelectedItems="@selectedItems" @bind-HeaderVis="@headerVis" @bind-AlbumsVis="@albumsVis"/>
    <TwoChoiceInput @bind-TwoChoiceVis="@choiceVis" YesBtnClick="@DeleteSelected" NoBtnClick="@CloseChoiceDiv" Message="@choiceMsg"/>

    if (mediaList.Count == 0)
    {
        <h1>Upload some items to get started</h1>
    }
    else
    {
        <div id="mainDiv">
            @foreach (MediaRow media in mediaList)
            {
                <div class="thumbnail">
                    @if (media.starred) {<span class="material-icons-outlined star-icon">star</span>}
                    <span @onclick="@(() => ToggleCheck(media.path))" id="@media.path" class="material-icons checkbox unchecked">check_circle</span>
                    <img @onclick="@(() => ImgClicked(media.uuid.ToString(), media.path))" style="color: white" src="@PSS.Settings.requestPath/@media.path" alt="@PSS.Settings.requestPath/@media.path" loading="lazy"/>
                </div>
            }
        </div>
    }
}

@code {
    private static string headerVis;
    private static string albumsVis;
    private static List<MediaRow> mediaList;
    private static List<string> selectedItems; //Stores all items (paths) user selected. If unchecked, removed from list.

    private static string choiceVis;
    private static string choiceMsg;

    //Shit click stuff. Last index is the last item you selected (would not be the current thing obv).
    private static bool shiftDown;
    private static int lastIndex;
    private async Task getShiftDown() => shiftDown = await JSRuntime.InvokeAsync<bool>("getShiftDown");
    
    private static bool ctrlDown;
    private async Task GetCtrlDown() => ctrlDown = await JSRuntime.InvokeAsync<bool>("getCtrlDown");
    
    private static string starChoiceVis;

    private async void UpdateStars(bool starred)
    {
        UpdateStarred(selectedItems, starred);
        await ClearChecks();
        starChoiceVis = "hidden";
        mediaList = LoadMediaTable();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        mediaList = LoadMediaTable();
        selectedItems = new List<string>(); //Reset on page load/refresh
        headerVis = "hidden";
        albumsVis = "hidden";
        choiceVis = "hidden";
        starChoiceVis = "hidden";
    }

    [Inject] //https://code-maze.com/how-to-call-javascript-code-from-net-blazor-webassembly/
    public IJSRuntime JSRuntime { get; set; }

    private async Task ToggleCheck(string id) //id = string path
    {
        string newClass = await JSRuntime.InvokeAsync<string>("toggleCheck", id);
        if (newClass.Contains("unchecked"))
            selectedItems.Remove(id);
        else if (!selectedItems.Contains(id)) //Needed to prevent adding dupes when shift clicking
            selectedItems.Add(id);

        headerVis = selectedItems.Count > 0 ? "visible" : "hidden";

        //Get mediaList currentIndex of latest selected thing. Needed only for shift click
        int index = -1;
        for (int i = 0; i < mediaList.Count; i++)
        {
            if (mediaList[i].path != id) continue;
            index = i;
            break;
        }

        await getShiftDown();
        if (!shiftDown) //Not shift click so just select 1 item like normal.
        {
            lastIndex = index;
            return;
        }
        await ShiftClick(index); //Select multiple.
    }

    //Add items from start to end into selectedItems. Used for ShiftClick.
    private async Task AddSelected(int startIndex, int endIndex)
    {
        for (int i = startIndex; i <= endIndex; i++)
        {
            string currentID = mediaList[i].path;
            if (selectedItems.Contains(currentID)) continue;
            selectedItems.Add(currentID);
            await ToggleCheck(currentID);
        }
    }

    //If shift was held down select multiple things
    private async Task ShiftClick(int currentIndex)
    {
        //First item is on left and item shift clicked is right. E.g., ###1####2### Loop from 1 --> 2, and add stuff in between to selected items
        if (lastIndex < currentIndex)
            await AddSelected(lastIndex, currentIndex);
        else if (lastIndex > currentIndex) //Same as above but swap 1 and 2 and the direction.
            await AddSelected(currentIndex, lastIndex);
    }

    private async Task ClearChecks()
    {
        foreach (string item in selectedItems)
            await JSRuntime.InvokeAsync<string>("removeCheck", item);
        selectedItems.Clear();
        headerVis = "hidden";
        albumsVis = "hidden";
        choiceVis = "hidden";
    }

    private async Task ImgClicked(string uuid, string path)
    {
        await GetCtrlDown();
        if (selectedItems.Count > 0 || ctrlDown)
            await ToggleCheck(path);
        else
            navigationManager.NavigateTo($"/view/{uuid}");
    }
    
    //Show choice div
    private void DeleteBtnClick()
    {
        if (PSS.Settings.showPrompts == false)
        {
            DeleteSelected();
            return;
        }
        choiceVis = "visible";
        choiceMsg = selectedItems.Count > 1 ? "Delete Selected Items?" : "Delete Selected Item?";
    }

    private async void DeleteSelected()
    {
        foreach (string path in selectedItems.ToList()) //https://stackoverflow.com/a/604843
        {
            MoveToTrash(path);
            headerVis = "hidden";
        }
        await ClearChecks();
        mediaList = LoadMediaTable();
        StateHasChanged();
    }

    private void CloseChoiceDiv()
    {
        choiceVis = "hidden";
        StateHasChanged();
    }
}