@page "/settings"

<link href="css/Settings.css" rel="stylesheet"/>

<div id="settings-div">
    <div class="settings-pair">
        <span>SSH Username</span>
        <input type="text" class="settings-pair" @bind="@username"/>
    </div>

    <div class="settings-pair">
        <span>Server IP Address</span>
        <input type="text" class="settings-pair" @bind="@serverIP"/>
    </div>

    <div class="settings-pair">
        <span>scp Flags</span>
        <input type="text" class="settings-pair" @bind="@scpFlags"/>
    </div>

    <div class="settings-pair">
        <span>Where to upload items for applying</span>
        <input type="text" class="settings-pair" @bind="@uploadRootPath"/>
    </div>

    <div class="settings-pair">
        <span>Root path to library folder</span>
        <input type="text" class="settings-pair" @bind="@libraryRootPath"/>
    </div>

    <div class="settings-pair">
        <span>Show Prompts?</span>
        <input type="checkbox" class="settings-pair" @bind="@showPrompts"/>
    </div>

    <button @onclick="@ApplyBtnClicked">Apply</button>
    <button @onclick="@CancelBtnClicked">Cancel</button>
    <button @onclick="@ResetBtnClicked">Reset</button>
</div>

@code {
    private static string username = PSS.Settings.username;
    private static string serverIP = PSS.Settings.serverIP;
    private static string scpFlags = PSS.Settings.scpFlags;
    private static string uploadRootPath = PSS.Settings.uploadRootPath;
    private static string libraryRootPath = PSS.Settings.libFolderFullPath;
    private static bool showPrompts = PSS.Settings.showPrompts;

    private static void ApplyBtnClicked()
    {
        PSS.Settings.username = username;
        PSS.Settings.serverIP = serverIP;
        PSS.Settings.scpFlags = scpFlags;
        PSS.Settings.uploadRootPath = uploadRootPath;
        PSS.Settings.libFolderFullPath = libraryRootPath;
        PSS.Settings.showPrompts = showPrompts;
        PSS.Settings.WriteSettings();
    }

    private static void CancelBtnClicked()
    {
        username = PSS.Settings.username;
        serverIP = PSS.Settings.serverIP;
        scpFlags = PSS.Settings.scpFlags;
        uploadRootPath = PSS.Settings.uploadRootPath;
        libraryRootPath = PSS.Settings.libFolderFullPath;
        showPrompts = PSS.Settings.showPrompts;
    }

    private static void ResetBtnClicked()
    {
        PSS.Settings.ResetSettings();
        CancelBtnClicked();
    }
}