@page "/settings"
@using System.IO

<title>Settings</title>
<link href="css/Settings.css" rel="stylesheet"/>

<div id="body">
    <div>
        <span class="header">Settings</span>
        <div class="settings-pair">
            <span>SSH Username</span>
            <input type="text" class="settings-pair" @bind="@username"/>
        </div>

        <div class="settings-pair">
            <span>Server IP Address</span>
            <input type="text" class="settings-pair" @bind="@serverIP"/>
        </div>

        <div class="settings-pair">
            <span>scp Flags</span>
            <input type="text" class="settings-pair" @bind="@scpFlags"/>
        </div>

        <div class="settings-pair">
            <span>Where to upload items for applying</span>
            <input type="text" class="settings-pair" @bind="@uploadRootPath"/>
        </div>

        <div class="settings-pair">
            <span>Root path to library folder</span>
            <input type="text" class="settings-pair" @bind="@libraryRootPath"/>
        </div>

        <div class="settings-pair">
            <span style="display: inline">Show Prompts?</span>
            <input type="checkbox" class="settings-pair" @bind="@showPrompts"/>
        </div>

        <button class="textBtn" @onclick="@ApplyBtnClicked"><span class="material-icons-outlined">check</span><span>Apply</span></button>
        <button class="textBtn" @onclick="@CancelBtnClicked"><span class="material-icons-outlined">close</span><span>Cancel</span></button>
        <button class="textBtn" @onclick="@ResetBtnClicked"><span class="material-icons-outlined">restart_alt</span><span>Reset</span></button>
    </div>

    <div>
        <span class="header">Maintenance</span>
        <button class="textBtn"><span class="material-icons-outlined">insert_drive_file</span><a href="maintenance/untracked-files">Untracked Files (@untrackedPaths.Count)</a></button>
        <button class="textBtn" @onclick="@EmptyFoldersBtnClick"><span class="material-icons-outlined">folder</span><span>Empty Folders (@emptyFolders.Count)</span></button>
    </div>
</div>

@code {
    private static string username = PSS.Settings.username;
    private static string serverIP = PSS.Settings.serverIP;
    private static string scpFlags = PSS.Settings.scpFlags;
    private static string uploadRootPath = PSS.Settings.uploadRootPath;
    private static string libraryRootPath = PSS.Settings.libFolderFullPath;
    private static bool showPrompts = PSS.Settings.showPrompts;
    
    private static List<string> untrackedPaths;

    //Get all folders in Library and Upload
    private static string[] folderPaths;
    private static readonly List<string> emptyFolders = new();

    protected override void OnInitialized()
    {
        untrackedPaths = Backend.Maintenance.GetUntrackedLibFiles();
        
        folderPaths = Directory.GetDirectories(PSS.Settings.libFolderFullPath, "*", SearchOption.AllDirectories).Concat(Directory.GetDirectories(PSS.Settings.uploadRootPath, "*", SearchOption.AllDirectories)).ToArray();
        foreach (string path in folderPaths)
            if (Backend.Maintenance.IsFolderEmpty(path) && !emptyFolders.Contains(path)) emptyFolders.Add(path);
    }

    private static void ApplyBtnClicked()
    {
        PSS.Settings.username = username;
        PSS.Settings.serverIP = serverIP;
        PSS.Settings.scpFlags = scpFlags;
        PSS.Settings.uploadRootPath = uploadRootPath;
        PSS.Settings.libFolderFullPath = libraryRootPath;
        PSS.Settings.showPrompts = showPrompts;
        PSS.Settings.WriteSettings();
    }

    private static void CancelBtnClicked()
    {
        username = PSS.Settings.username;
        serverIP = PSS.Settings.serverIP;
        scpFlags = PSS.Settings.scpFlags;
        uploadRootPath = PSS.Settings.uploadRootPath;
        libraryRootPath = PSS.Settings.libFolderFullPath;
        showPrompts = PSS.Settings.showPrompts;
    }

    private static void ResetBtnClicked()
    {
        PSS.Settings.ResetSettings();
        CancelBtnClicked();
    }

    //Delete all empty folders
    private static void EmptyFoldersBtnClick()
    {
        emptyFolders.Reverse(); //Start at deepest folder and work up (to avoid dir not found errors).
        foreach (string path in emptyFolders) Directory.Delete(path);
        emptyFolders.Clear();
    }
}