@page "/settings"

<link href="css/Settings.css" rel="stylesheet"/>

<div id="settingsdiv">
    @*<h1 class="settingsh">PSS Settings</h1>*@
    <h2 class="settingsh">Uploading</h2> @*style="margin-top: 10px"*@

    <div class="settingpair">
        <span class="whitetext">SSH Username</span>
        <input type="text" class="settingpair" @bind="@username"/>
    </div>

    <div class="settingpair">
        <span class="whitetext">Server IP Address</span>
        <input type="text" class="settingpair" @bind="@serverIP"/>
    </div>

    <div class="settingpair">
        <span class="whitetext">scp Flags</span>
        <input type="text" class="settingpair" @bind="@scpFlags"/>
    </div>

    <div class="settingpair">
        <span class="whitetext">Where to upload items for applying</span>
        <input type="text" class="settingpair" @bind="@uploadRootPath"/>
    </div>

    <div class="settingpair">
        <span class="whitetext">Root path to library folder</span>
        <input type="text" class="settingpair" @bind="@libraryRootPath"/>
    </div>

    <button @onclick="@ApplyBtnClicked">Apply</button>
    <button @onclick="@CancelBtnClicked">Cancel</button>
    <button @onclick="@ResetBtnClicked">Reset</button>
</div>

@code {
    private string username = PSS.Settings.username;
    private string serverIP = PSS.Settings.serverIP;
    private string scpFlags = PSS.Settings.scpFlags;
    private string uploadRootPath = PSS.Settings.uploadRootPath;
    private string libraryRootPath = PSS.Settings.libraryRootPath;

    private void ApplyBtnClicked()
    {
        PSS.Settings.username = username;
        PSS.Settings.serverIP = serverIP;
        PSS.Settings.scpFlags = scpFlags;
        PSS.Settings.libraryRootPath = libraryRootPath;
        PSS.Settings.WriteSettings();
    }

    private void CancelBtnClicked()
    {
        username = PSS.Settings.username;
        serverIP = PSS.Settings.serverIP;
        scpFlags = PSS.Settings.scpFlags;
        libraryRootPath = PSS.Settings.libraryRootPath;
    }

    private void ResetBtnClicked()
    {
        PSS.Settings.ResetSettings();
        CancelBtnClicked();
    }

}