@page "/trash"
@inject NavigationManager navigationManager;
@using static PSS.Backend.Connection

<link href="css/Trash.css" rel="stylesheet"/>

@{
    <header>
        <button class="iconBtn" id="clearBtn" style="visibility: @(selectedItems.Count == 0 ? "hidden" : "visible")" @onclick="ClearChecks"><span class="material-icons-outlined">close</span></button>
        <span id="selectedAmtText" style="visibility: @(selectedItems.Count == 0 ? "hidden" : "visible")">@selectedItems.Count selected</span>
        <div>
            <button class="textBtn" @onclick="RestoreBtnClick"><span class="material-icons-outlined">restore_from_trash</span><span>@(selectedItems.Count == 0 ? "Restore ALL" : "Restore Selected")</span></button>
            <button class="textBtn" @onclick="DeleteBtnClick"><span class="material-icons-outlined">delete_forever</span><span>@(selectedItems.Count == 0 ? "Delete ALL" : "Delete Selected")</span></button>
        </div>
    </header>
    
    if (mediaTrashList.Count == 0)
    {
        <h1>Trash is empty</h1>
    }
    else
    {
        <div id="mainDiv">
            @foreach (MediaRow media in mediaTrashList)
            {
                <div class="thumbnail">
                    <span @onclick="(() => ToggleCheck(media.path))" id="@media.path" class="material-icons unchecked">check_circle</span>
                    <img @onclick="() => ImgClicked(media.path)" style="color: white" src="@PSS.Settings.requestPath/@media.path" alt="@PSS.Settings.requestPath/@media.path" loading="lazy"/>
                </div>
            }
        </div>
    }
}

@code {
    private static List<MediaRow> mediaTrashList;
    private static List<string> selectedItems; //Stores all items (paths) user selected. If unchecked, removed from list.

    protected override void OnInitialized()
    {
        mediaTrashList = LoadMediaTrashTable();
        selectedItems = new List<string>(); //Reset on page load/refresh
    }

    [Inject] //https://code-maze.com/how-to-call-javascript-code-from-net-blazor-webassembly/
    public IJSRuntime JSRuntime { get; set; }

    private async Task ToggleCheck(string id) //id = string path
    {
        string newClass = await JSRuntime.InvokeAsync<string>("toggleCheck", id);
        if (newClass.Contains("unchecked"))
            selectedItems.Remove(id);
        else
            selectedItems.Add(id);
    }

    private async Task ClearChecks()
    {
        foreach (string item in selectedItems)
            await JSRuntime.InvokeAsync<string>("removeCheck", item);
        selectedItems.Clear();
    }
    
    private async Task ImgClicked(string path)
    {
        if (selectedItems.Count > 0) await ToggleCheck(path);
    }

    private async Task RestoreBtnClick()
    {
        //Restore ALL
        if (selectedItems.Count == 0)
            foreach (MediaRow item in mediaTrashList) RestoreItem(item.path);
        else //Restore selected
        {
            foreach (string item in selectedItems)
            {
                await JSRuntime.InvokeAsync<string>("removeCheck", item);
                RestoreItem(item);
            }
        }
        await ClearChecks();
        mediaTrashList = LoadMediaTrashTable();
        selectedItems.Clear();
    }

    private async Task DeleteBtnClick()
    {
        //Delete ALL
        if (selectedItems.Count == 0)
            foreach (MediaRow item in mediaTrashList) PermDeleteItem(item.path);
        else //Delete selected
        {
            foreach (string item in selectedItems)
            {
                await JSRuntime.InvokeAsync<string>("removeCheck", item);
                PermDeleteItem(item);
            }
        }
        await ClearChecks();
        mediaTrashList = LoadMediaTrashTable();
        selectedItems.Clear();
    }
}