@* Reusable component that allows user to choose album(s) or a folder to add selected item(s) to. *@
@inherits ToggleableComponent

<link href="css/Components/Modal/CollectionSelector.css" rel="stylesheet"/>

<ModalBackground Visibility="@Visibility">
    <div id="collection-selector">
        <div>
            <span>Add to</span>
            <div>
                <IconButton Icon="close" OnClick="@CloseBtnClick"/>
                <IconButton Icon="check" OnClick="@ConfirmBtnClick"/>
            </div>
        </div>

        <CollectionCreator @ref="@collectionCreator" Collections="@(albums.Concat(folders).ToList())" OnCollectionCreate="@SelectNewCollection"/>

        <div id="collection-groups">
            <IconButton Icon="history" OnClick="@(() => PreviousSelectionBtnClick(false))" Title="Restore the last selection of collections."/>

            <div class="hidden-buttons">
                @for (int i = 1; i < 6; i++)
                {
                    int ii = i;
                    <IconButton Icon="save" EventArgsOnClick="@(mouseEventArgs => SaveBtnClick(ii, mouseEventArgs))" Title="Ctrl click to save; click to apply."/>
                }
            </div>
        </div>
        
        <div id="collections-search">
            <TextInput @bind-Input="@searchText" Placeholder="Search Collections"/>
            <IconButton Icon="clear" OnClick="@(() => { searchText = ""; StateHasChanged(); })"/>
        </div>

        <div id="collections">
            <span>Albums</span>
            <div>
                @for (int i = 0; i < albums.Count; i++)
                {
                    if (!String.IsNullOrWhiteSpace(searchText) && albums[i].Name.IndexOf(searchText, StringComparison.InvariantCultureIgnoreCase) == -1) continue;

                    int ii = i;
                    <div class="collection" @onclick="@(() => AlbumClicked(ii))">
                        <div class="cover">
                            @if (!String.IsNullOrWhiteSpace(albums[i].Cover))
                            {
                                <img src="mm_library/@albums[i].Cover" alt=""/>
                            }
                        </div>
                        <Checkbox @bind-Input="@checkedAlbums[ii]" Label="@albums[i].Name"/>
                    </div>
                }
            </div>

            <span>Folders</span>
            <div>
                @for (int i = 0; i < folders.Count; i++)
                {
                    if (!String.IsNullOrWhiteSpace(searchText) && folders[i].Name.IndexOf(searchText, StringComparison.InvariantCultureIgnoreCase) == -1) continue;

                    int ii = i;
                    <div class="collection" @onclick="@(() => FolderClicked(ii))">
                        <div class="cover">
                            @if (!String.IsNullOrWhiteSpace(folders[i].Cover))
                            {
                                <img src="mm_library/@folders[i].Cover" alt=""/>
                            }
                        </div>

                        <Checkbox @bind-Input="@checkedFolders[ii]" Label="@folders[i].Name"/>
                    </div>
                }
            </div>
        </div>
    </div>
</ModalBackground>

<KeyboardShortcuts AltC="@Toggle"/>

@code {
    //TODO: I think this stuff wouldn't need to be marked static if we just make an instance of CS and then use that in Import and ImportFile...?
    public static List<Collection> albums = null!, folders = null!;
    public static List<bool> checkedAlbums = null!;
    private static List<bool> checkedFolders = null!;
    public static int checkedFolderIndex = -1; //Which index in folders is checked (can only have 1 checked (true)).

    private string? searchText;

    private CollectionCreator collectionCreator = null!;

    [Parameter, EditorRequired] public HashSet<Guid> SelectedItems { get; set; } = null!;
    
    [Parameter] public Action? Rerender { get; set; } //Used to rerender LCV after adding items.
    
    [Parameter] public Action? OnCheckClicked { get; set; } //Used in Import for overriding the default behavior.

    [Parameter] public bool ClearSelectedOnConfirm { get; set; } = true; //Used in Import.
    
    public Guid SelectedItem { get; set; } = Guid.Empty; //Used in LCV when viewing a single item.
    
    protected override void OnInitialized() => RefreshData();

    private void RefreshData()
    {
        albums = C.GetCollectionsTable(true, false, false);
        folders = C.GetCollectionsTable(false, true, false);
        checkedAlbums = (from album in albums select new bool()).ToList();
        checkedFolders = (from folder in folders select new bool()).ToList();
        checkedFolderIndex = -1;
    }

    private void CloseBtnClick()
    {
        Disable();
        ClearSelectedCollections();
    }

    private void ClearSelected()
    {
        SelectedItems.Clear();
        Disable();
        Rerender?.Invoke();
    }

    private static void ClearAlbumChecks() => checkedAlbums = checkedAlbums.Select(_ => false).ToList();

    private static void ClearFolderChecks() => checkedFolders = checkedFolders.Select(_ => false).ToList();

    private static void ClearSelectedCollections()
    {
        ClearAlbumChecks();
        ClearFolderChecks();
    }
    
    private void AlbumClicked(int index)
    {
        ClearFolderChecks();
        checkedFolderIndex = -1;
    }

    private void FolderClicked(int index)
    {
        ClearSelectedCollections();
        checkedFolderIndex = index;
        checkedFolders[index] = true;
    }
    
    ///Selects the new collection that was just created.
    private async void SelectNewCollection()
    {
        RefreshData();

        await InvokeAsync(StateHasChanged); //https://stackoverflow.com/questions/56477829/how-to-fix-the-current-thread-is-not-associated-with-the-renderers-synchroniza

        int newestAlbumIndex = albums.FindIndex(a => a.Name == collectionCreator.NewCollectionName);
        if (newestAlbumIndex != -1)
        {
            checkedAlbums[newestAlbumIndex] = true;
        }
        else
        {
            int newestFolderIndex = folders.FindIndex(f => f.Name == collectionCreator.NewCollectionName);
            if (newestFolderIndex == -1) return;
            checkedFolderIndex = newestFolderIndex;
            checkedFolders[newestFolderIndex] = true;
        }
    }

    ///Add item(s) to album(s) or folder selected.
    private async void ConfirmBtnClick()
    {
        if (OnCheckClicked != null)
        {
            OnCheckClicked.Invoke();
        }
        else
        {
            if (checkedFolderIndex != -1) //If a folder is selected this won't be -1
            {
                if (SelectedItem != Guid.Empty)
                {
                    await C.AddToCollectionAsync(folders[checkedFolderIndex].Id, SelectedItem);
                }
                else
                {
                    foreach (Guid item in SelectedItems)
                        await C.AddToCollectionAsync(folders[checkedFolderIndex].Id, item);
                }
            }
            else //Adding to album(s).
            {
                for (int c = 0; c < checkedAlbums.Count; c++)
                {
                    if (checkedAlbums[c] == false) continue;

                    if (SelectedItem != Guid.Empty)
                    {
                        await C.AddToCollectionAsync(albums[c].Id, SelectedItem);
                    }
                    else
                    {
                        foreach (Guid item in SelectedItems)
                            await C.AddToCollectionAsync(albums[c].Id, item);
                    }
                }
            }
        }

        //Save this selection of albums/folder for next time.
        PreviousSelectionBtnClick(true);

        CloseBtnClick();

        if (ClearSelectedOnConfirm)
            ClearSelected();
    }

    private void PreviousSelectionBtnClick(bool save)
    {
        MouseEventArgs mouseEventArgs = new() {CtrlKey = save};
        SaveBtnClick(0, mouseEventArgs);
    }

    ///Handles saving and restoring of groups of saved Collections.
    private void SaveBtnClick(int id, MouseEventArgs mouseEventArgs)
    {
        string filePath = Path.Join(S.FolderPath, $"slot{id}.tmp");
        if (mouseEventArgs.CtrlKey) //Save/overwrite selection.
        {
            SaveSelectionToDisk();
        }
        else if (File.Exists(filePath)) //Load and apply existing one.
        {
            bool rewrite = false; //If it encountered an ID that no longer exists in DB and it should rewrite the tmp file to remove it/them.
            
            ClearSelectedCollections();
            
            string[] input = File.ReadAllLines(filePath);
            if (input[0] == "F")
            {
                checkedFolderIndex = FindIndex(checkedFolders, folders, input[1]);
                if (checkedFolderIndex == -1) rewrite = true;
                else checkedFolders[checkedFolderIndex] = true;
            }
            else if (input[0] == "A")
            {
                for (int i = 1; i < input.Length; i++)
                {
                    int index = FindIndex(checkedAlbums, albums, input[i]);
                    if (index == -1)
                    {
                        rewrite = true;
                        continue;
                    }
                    checkedAlbums[index] = true;
                }
            }
            
            if (rewrite) SaveSelectionToDisk();
        }
        else
        {
            ClearSelectedCollections();
        }
        StateHasChanged();
        return;

        void SaveSelectionToDisk()
        {
            if (checkedFolders.Any(b => b))
                File.WriteAllText(filePath, $"F\n{folders[checkedFolderIndex].Id}");
            else
            {
                File.WriteAllText(filePath, "A\n");
                for (int i = 0; i < checkedAlbums.Count; i++)
                {
                    if (checkedAlbums[i])
                        File.AppendAllText(filePath, $"{albums[i].Id}\n");
                }
            }
        }
        
        //From checkedAlbums or checkedFolders, figure out the index for it in checkedAlbums.
        int FindIndex(List<bool> checkedList, List<Collection> collections, string albumID)
        {
            int parsedID = Int32.Parse(albumID);
            for (int i = 0; i < checkedList.Count; i++)
                if (collections[i].Id == parsedID)
                    return i;
            
            return -1;
        }
    }
}