@page "/maintenance/backups"
@using System.Diagnostics
@using Microsoft.VisualBasic.FileIO
@using SearchOption = System.IO.SearchOption

<title>Backups — Maintenance - PSS</title>
<link href="css/maintenance/Backups.css" rel="stylesheet">

@{
    <header>
        <button class="textBtn" @onclick="@(async () => { popUpMsg = "Creating Backup. Do not navigate away from this page."; popUpVis = true; await Task.Run(CreateBackup); popUpVis = false; })"><span class="material-icons-outlined">restore</span><span>Create Backup</span></button>
        <button class="textBtn" @onclick="@(() => { Directory.Delete(S.backupFolderPath, true); Directory.CreateDirectory(S.backupFolderPath); backups.Clear(); })"><svg width="24px" height="24px" class="material-icons" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg><span>Delete All Backups</span></button>
        <span>@($"{backups.Count} {(backups.Count == 1 ? "Backup" : "Backups")}")</span>
    </header>

    if (backups.Count == 0)
    {
        <h1>No PSS Backups</h1>
        return;
    }

    <div id="mainDiv">
        @foreach ((string, DateTime, long) backup in backups)
        {
            <div class="backup">
                <span>@backup.Item2</span>
                <span>@F.FormatBytes(backup.Item3)</span>
                <button class="iconBtn" @onclick="@(() => { popUpMsg = "Restoring Backup. Do not navigate away from this page."; popUpVis = true; RestoreBackup(backup.Item1); popUpVis = false; })" title="Restore This Backup"><span class="material-icons">restore</span></button>
                <button class="iconBtn" @onclick="@(() => { backups.RemoveAll(b => b.Item1 == backup.Item1); Directory.Delete(backup.Item1, true); })" title="Delete This Backup"><svg width="24px" height="24px" class="material-icons" viewBox="0 0 24 24"><path d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"></path></svg></button>
            </div>
        }
    </div>
    
    <ProgressPopUp Message="@popUpMsg" FontSize="22" Visible="@popUpVis"/>
}

@code{
    private bool popUpVis;
    private string popUpMsg;

    ///Stores each backup's full path, date and time it was made, and its size in bytes.
    private List<(string, DateTime, long)> backups;

    protected override void OnInitialized()
    {
        backups = new List<(string, DateTime, long)>();
        
        foreach (string backupFolder in Directory.GetDirectories(S.backupFolderPath, "PSS Backup*", SearchOption.TopDirectoryOnly))
        {
            try
            {
                backups.Add(new ValueTuple<string, DateTime, long>
                {
                    Item1 = backupFolder,
                    Item2 = DateTime.Parse(Path.GetFileName(backupFolder).Replace("PSS Backup", null).Replace(".zip", null).Replace(';', ':')),
                    Item3 = F.GetFolderSize(backupFolder)
                });
            }
            catch (FormatException){}
        }

        backups = backups.OrderByDescending(x => x.Item2).ToList(); //Sort it so newer backups appear first in the List.
    }
}

@functions{
    ///Copies the contents of pss_library to a backup folder, and dumps the contents of the database to a .bak file in that folder.
    private void CreateBackup()
    {
        L.LogLine("Backup Started", LogLevel.Info);

        string backupFolder = Path.Combine(S.backupFolderPath, $"PSS Backup {DateTime.Now:MM-dd-yyyy hh;mm;ss tt}");
        string dbDumpPath = Path.Combine(backupFolder, "Database.bak");
        
        L.LogLine("Begin copying pss_library", LogLevel.Debug);

        Directory.CreateDirectory(backupFolder);
        Parallel.ForEach(C.LoadEntireMediaTable(), row =>
        {
            string srcFilePath = Path.Join(S.libFolderPath, row.path);
            string destFilePath = Path.Join(backupFolder, row.path);

            string dtFolderFull = Path.Combine(backupFolder, Path.GetDirectoryName(row.path)!);
            if (!Directory.Exists(dtFolderFull))
                Directory.CreateDirectory(dtFolderFull);
            
            File.Copy(srcFilePath, destFilePath);
        });
        L.LogLine("Finish copying pss_library", LogLevel.Debug);
        
        //Dump database contents to a .bak file.
        L.LogLine("Starting psql process", LogLevel.Debug);
        using Process process = new Process
        {
            StartInfo = new ProcessStartInfo
            {
                WindowStyle = ProcessWindowStyle.Hidden,
                CreateNoWindow = true,
                RedirectStandardError = false,
                RedirectStandardInput = false,
                RedirectStandardOutput = false,
                WorkingDirectory = $"C:/Program Files/PostgreSQL/{S.POSTGRES_VERSION}/bin/",
                FileName = "cmd.exe",
                Arguments = $"/C pg_dump.exe \"host={S.serverIP} port=5432 dbname=PSS user=postgres password=Ph0t0s_Server\" > \"{dbDumpPath}\"", //https://www.postgresqltutorial.com/postgresql-backup-database/   How to run this cmd without a password prompt: https://stackoverflow.com/a/62417775
            }
        };
        process.Start();
        process.WaitForExit();
        
        L.LogLine("Psql process finished", LogLevel.Debug);
        
        backups.Insert(0, new ValueTuple<string, DateTime, long>
        {
            Item1 = backupFolder,
            Item2 = DateTime.Parse(Path.GetFileName(backupFolder).Replace("PSS Backup", null).Replace(';', ':')),
            Item3 = F.GetFolderSize(backupFolder)
        });

        L.LogLine("Backup Finished", LogLevel.Info);
    }

    ///Restore PSS to this backup.
    private static void RestoreBackup(string backupFullPath)
    {
        L.LogLine("Restore started", LogLevel.Info);
        L.LogLine("Begin clearing database", LogLevel.Debug);
        
        C.Open();
        using NpgsqlCommand cmd = new("DROP TABLE IF EXISTS media CASCADE; DROP TABLE IF EXISTS collections CASCADE; DROP TABLE IF EXISTS collection_entries CASCADE;", C.connection);
        cmd.ExecuteNonQuery();
        C.Close();
        
        L.LogLine("Database cleared, restoring database", LogLevel.Debug);
        
        //Restore the database from the .bak file.
        Process process = new();
        ProcessStartInfo startInfo = new()
        {
            WindowStyle = ProcessWindowStyle.Hidden,
            WorkingDirectory = S.backupFolderPath,
            FileName = "cmd.exe",
            Arguments = $"/C type \"{Path.Combine(backupFullPath, "Database.bak")}\" | \"C:/Program Files/PostgreSQL/{S.POSTGRES_VERSION}/bin/psql.exe\" \"host=localhost port=5432 dbname=PSS user=postgres password=Ph0t0s_Server\""
        };
        process.StartInfo = startInfo;
        process.Start();
        process.WaitForExit();
        
        L.LogLine("Database restored, clearing pss_library", LogLevel.Debug);
        if (Directory.Exists(S.libFolderPath)) Directory.Delete(S.libFolderPath, true);
        
        L.LogLine("pss_library cleared, restoring pss_library", LogLevel.Debug);
        FileSystem.CopyDirectory(backupFullPath, S.libFolderPath);
        File.Delete(Path.Combine(S.libFolderPath, "Database.bak"));

        L.LogLine("pss_library restored, restoration finished", LogLevel.Info);
    }
}